@model Tailstale.Models.business_img_type

@{
    ViewData["Title"] = "Edit";
}
@section Styles {
    <link href="~/css/salonfrom.css" rel="stylesheet" />
}
<h1>修改圖片類型</h1>

@* <h4>business_img_type</h4> *@
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <label asp-for="FK_business_id" class="control-label">門市</label>
                <select asp-for="FK_business_id" class="form-control" asp-items="ViewBag.FK_business_id"></select>
                <span asp-validation-for="FK_business_id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="typename" class="control-label">類型名稱</label>
                <input asp-for="typename" class="form-control" required />
                <span asp-validation-for="typename" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="created_at" class="control-label">建立日期</label>
                <input asp-for="created_at" class="form-control" readonly />
                <span asp-validation-for="created_at" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-secondary mt-3" asp-action="Index">返回</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
