@model Tailstale.Models.outpatient_clinic

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>outpatient_clinic</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="name" class="control-label"></label>
                <input asp-for="name" class="form-control" />
                <span asp-validation-for="name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="business_ID" class="control-label"></label>
                <select asp-for="business_ID" class ="form-control" asp-items="ViewBag.business_ID"></select>
            </div>
            <div class="form-group">
                <label asp-for="department_ID" class="control-label"></label>
                <select asp-for="department_ID" class ="form-control" asp-items="ViewBag.department_ID"></select>
            </div>
            <div class="form-group">
                <label asp-for="vet_ID" class="control-label"></label>
                <select asp-for="vet_ID" class ="form-control" asp-items="ViewBag.vet_ID"></select>
            </div>
            <div class="form-group">
                <label asp-for="date" class="control-label"></label>
                <input asp-for="date" class="form-control" />
                <span asp-validation-for="date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="time" class="control-label"></label>
                <input asp-for="time" class="form-control" />
                <span asp-validation-for="time" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="max_patients" class="control-label"></label>
                <input asp-for="max_patients" class="form-control" />
                <span asp-validation-for="max_patients" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
