td {
    max-width: 300px; /* 设置最大宽度 */
    overflow: hidden; /* 隐藏超出部分 */
    text-overflow: ellipsis; /* 使用省略号表示更多内容 */
    white-space: nowrap; /* 强制文本在同一行显示 */
}

table {
    border-collapse: collapse;
    width: 100%;
    border-radius: 5px;
}

th, td {
    border: 2px solid #dddddd;
    text-align: left;
    padding: 8px;
}
