@model vet_information_ViewModel

@{
    ViewData["Title"] = "Edit";
}

@section Styles
{
    <style>
        textarea {
            height: 400px;
        }
    </style>

}

<h1>Edit</h1>

<h4>vet_information</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data" >
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="vet_ID" />
            <div class="form-group">
                <label asp-for="vet_name" class="control-label"></label>
                <input asp-for="vet_name" class="form-control" />
                <span asp-validation-for="vet_name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="business_ID" class="control-label"></label>
                <select asp-for="business_ID" class="form-control" asp-items="ViewBag.business_ID"></select>
                <span asp-validation-for="business_ID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="license_number" class="control-label"></label>
                <input asp-for="license_number" class="form-control" />
                <span asp-validation-for="license_number" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="department_ID" class="control-label"></label>
                <select asp-for="department_ID" class="form-control" asp-items="ViewBag.department_ID"></select>
                <span asp-validation-for="department_ID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="profile" class="control-label"></label>
                <textarea asp-for="profile" class="form-control"></textarea>
                <span asp-validation-for="profile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="URL" class="control-label"></label>
                <input asp-for="URL" type="file" accept="image/*" class="form-control" />
                <span asp-validation-for="URL" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="name" class="control-label"></label>
                <input asp-for="name" class="form-control" />
                <span asp-validation-for="name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        $(document).ready(function () {
            $('#URL').on("change", function () {
                // 允許的副檔名
                var allowType = "image.*";
                // 上傳的第一個檔案
                var file = this.files[0];
                // 抓取檔案的型態是否為allowType的格式
                if (file.type.match(allowType)) {
                    // 讀取圖片
                    var reader = new FileReader();
                    // 檔案讀取完成的事件
                    reader.onload = function (e) {
                        // 選到#Picture的上一個元素修改src屬性
                        $('#URL').prev().attr("src", e.target.result);
                        // 選到#Picture的上一個元素修改title屬性
                        $('#URL').prev().attr("title", e.file.name);
                    }
                    // 用圖片的URL讀取圖片
                    reader.readAsDataURL(file);
                    // 解除鎖定按鈕
                    $('.btn').prop("disabled", false);
                } else {
                    alert("不支援的檔案上傳類型");
                    // 鎖定按鈕
                    $('.btn').prop("disabled", true);
                }
            });
        });
    </script>
}
