@model Tailstale.MedRecordDTO.NursingDTO

@{
    ViewData["Title"] = "Create";
}

<h4>新增護理記錄</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="pet_id" class="control-label"></label>
                <input asp-for="pet_id" class="form-control" value="@ViewBag.pet_id" readonly />
                <span asp-validation-for="pet_id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="hosp_record_id" class="control-label"></label>
                <input asp-for="hosp_record_id" class="form-control" asp-items="hosp_record_id" readonly />
                <span asp-validation-for="hosp_record_id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="datetime" class="control-label"></label>
                <input asp-for="datetime" class="form-control" asp-format="{0:yyyy-MM-dd HH:mm}" />
                <span asp-validation-for="datetime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="weight" class="control-label"></label>
                <input asp-for="weight" class="form-control" />
                <span asp-validation-for="weight" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="memo" class="control-label"></label>
                <input asp-for="memo" class="form-control" />
                <span asp-validation-for="memo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="vs_id" class="control-label"></label>
                <select asp-for="vs_id" class="form-control" asp-items="ViewBag.vital_sign_record_id"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="新增" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">返回</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
