@model Tailstale.Models.business
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor



<div class="d-flex col-12">
    <div class="col-6 w-100 h-10">
        <form asp-controller="Hotels" asp-action="ShowRoomFromHotel" asp-route-id="@ViewBag.HotelID">
            <button type="submit" class="btn btn-dark"> 房間</button>
        </form>
    </div>
    <div class="col-6 w-100 h-10">
        <form asp-controller="Bookings" asp-action="ShowBooking">
            <!-- form fields -->
            <button class="btn btn-dark" type="submit">訂單</button>
        </form>
    </div>
</div>