@model Tailstale.Models.business
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@section Styles{
  
   
    <style>
        .todolist {
            transform: translate(-80%, -50%) !important
        }
        .heart{
            transform: translate(150%, -50%) !important
           /*  transform: translate(200%, -50%) !important */
        }
    </style>
}

<div id="app">
<div class="container-fluid">
    <div class="row flex-nowrap">
        <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0" style="background:	#D9B3B3">
            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                    <span class="fs-4 d-none d-sm-inline" style="color:black;">Menu</span>
                </a>
                <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                  
                    <li class="nav-item  mb-3">
                        <form hidden id="roomForm" asp-controller="Hotels" asp-action="ShowRoomFromHotel" asp-route-id="@ViewBag.hotelID">
                        </form>
                        
                        <a data-bs-toggle="collapse" href="#" onclick="document.getElementById('roomForm').submit(); return false;" class="align-middle" style="text-decoration:none;color:black;">
                            <i class="fas fs-5 fa-layer-group"></i> <span class="ms-1 fs-5 d-none d-sm-inline">房間管理</span>
                        </a>
                    </li>

                    <li class="nav-item  mb-3">
                        <form hidden id="bookingForm" asp-controller="Hotels" asp-action="ShowAllBooking">
                        </form>

                        <a data-bs-toggle="collapse" href="#" onclick="document.getElementById('bookingForm').submit(); return false;" class="align-middle" style="text-decoration:none;color:black;">
                            <i class="fas fs-5 fa-th-list"></i> <span class="ms-1 fs-5 d-none d-sm-inline">訂單管理</span>
                        </a>
                    </li>
                        <li class="nav-item  mb-3">
                            <form hidden id="bookingForm" asp-controller="Hotels" asp-action="ShowAllBooking">
                            </form>

                            <a data-bs-toggle="collapse" href="#" onclick="document.getElementById('bookingForm').submit(); return false;" class="align-middle" style="text-decoration:none;color:black;">
                                <i class="fas fs-5 fa-th-list"></i> <span class="ms-1 fs-5 d-none d-sm-inline">修改飯店資訊</span>
                            </a>
                        </li>
                        <li class="nav-item  mb-3" @@click="logout()">
                            <a data-bs-toggle="collapse" href="#" class="align-middle" style="text-decoration:none;color:black;">
                                <i class="fa-solid  fs-5 fa-right-from-bracket fa-rotate-180"></i> <span class="ms-1 fs-5 d-none d-sm-inline">登出</span>
                            </a>
                        </li>

                </ul>
                
                <hr>

            </div>
        </div>
            <div class="col py-3">
                <div class="container my-5">
                    <div class="row d-flex justify-content-center">
                        <div class="col-5">
                            <div class="position-relative todolistbox " style="max-width: 200px;" @@click="gotoBookingList()">
                                <img src="~/images/to-do-list.png" class="img-fluid" alt="To-do list" />

                                <span class="position-absolute top-0 start-75 todolist translate-middle badge rounded-circle bg-danger p-3" style="font-size: 2rem;">
                                    {{ newBooking }}
                                </span>
                            </div>
                            <h2 class="px-2">待處理訂單數</h2>
                        </div>
                        <div class="col-5">
                            <div class="position-relative heartbox" style="max-width: 200px;">
                                <img src="~/images/like.svg" class="img-fluid" alt="Like" />

                                <span class="position-absolute top-0 start-75 todolist translate-middle badge rounded-circle bg-danger p-3" style="font-size: 2rem;">
                                    {{ rate }}
                                </span>
                            </div>
                            <h2 style="margin-left:30px">評論分數</h2>
                        </div>

                    </div>

                </div>
        </div>
    </div>
</div>
</div>

@section Scripts{
   @*  <script src="js/kaiadmin.min.js"></script> *@
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script>
        const vueApp = {

            data() {
                return {
                    baseAddress: "https://localhost:7112/Hotels/",
                    rate: "",
                    newBooking: 0,
                };
            },
            mounted() {

                this.getRate();
                this.getNewBooking();
            },
            methods: {
                getRate() {
                    try {

                        axios.post(`${this.baseAddress}CountRating`)
                            .then(response => {

                                this.rate = response.data;
                            })
                            .catch(err => { alert(err) })

                    } catch (err) {
                        alert(err);
                    }
                },
                getNewBooking() {
                    try {
                        axios.post(`${this.baseAddress}NewBookingNotice`)
                            .then(response => {
                                this.newBooking = response.data;
                            }).catch(err => {
                                alert(err)
                            })
                    }
                    catch (err) {

                    }
                },
                logout() {
                    
                    axios.delete('https://localhost:7112/api/LNRApi/Logout')
                        .then(response => {
                            if (response.status === 200) {
                                window.location.href = 'https://localhost:7112/User/Index';
                            } else {
                                console.error('Logout failed');
                            }
                        })
                        .catch(error => console.error('Error:', error));
                },
                gotoBookingList(){
                    document.getElementById('bookingForm').submit();
                    

                },




            },
        };

        Vue.createApp(vueApp).mount("#app");


    </script>
}