@model Tailstale.Models.business
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@section Styles{
    <link href="~/css/kaiadmin.min.css" rel="stylesheet" />
   
    <style></style>
}

<div class="wrapper">
    <div class="col-4">
        <div class="sidebar" data-background-color="dark">
            <div class="sidebar-logo">
                <!-- Logo Header -->
                <div class="logo-header" data-background-color="dark">
                    <a href="#" class="logo">
                        <img src="assets/img/kaiadmin/logo_light.svg"
                             alt="navbar brand"
                             class="navbar-brand"
                             height="20" />
                    </a>
                    <div class="nav-toggle">
                        <button class="btn btn-toggle toggle-sidebar">
                            <i class="gg-menu-right"></i>
                        </button>
                        <button class="btn btn-toggle sidenav-toggler">
                            <i class="gg-menu-left"></i>
                        </button>
                    </div>
                    <button class="topbar-toggler more">
                        <i class="gg-more-vertical-alt"></i>
                    </button>
                </div>
                <!-- End Logo Header -->
            </div>
            <div class="sidebar-wrapper scrollbar scrollbar-inner">
                <div class="sidebar-content">
                    <ul class="nav nav-secondary">

                        <li class="nav-section">
                            <span class="sidebar-mini-icon">
                                <i class="fa fa-ellipsis-h"></i>
                            </span>
                            <h4 class="text-section">旅館管理</h4>
                        </li>
                        <li class="nav-item">
                            <form hidden id="roomForm" asp-controller="Hotels" asp-action="ShowRoomFromHotel" asp-route-id="@ViewBag.hotelID">
                            </form>
                            <a data-bs-toggle="collapse" href="#" onclick="document.getElementById('roomForm').submit(); return false;">
                                <i class="fas fa-layer-group"></i>
                                <p>房間</p>
                                <span class="caret"></span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <form hidden id="booking2Form" asp-controller="Hotels" asp-action="ShowBooking" asp-route-id="@ViewBag.hotelID">
                            </form>
                            <a data-bs-toggle="collapse" href="#" onclick="document.getElementById('booking2Form').submit(); return false;" >
                                <i class="fas fa-th-list"></i>
                                <p>訂單管理2</p>
                                <span class="caret"></span>
                            </a>

                        </li> 
                        <li class="nav-item">
                            <form hidden id="bookingForm" asp-controller="Hotels" asp-action="ShowAllBooking">
                            </form>
                            <a data-bs-toggle="collapse" href="#" onclick="document.getElementById('bookingForm').submit(); return false;">
                                <i class="fas fa-th-list"></i>
                                <p>訂單管理</p>
                                <span class="caret"></span>
                            </a>

                        </li>

                    </ul>
                </div>
            </div>


        </div>
    </div>
    <div class="col-8">

        <div class="d-flex col-12">
            <div class="col-6 w-100 h-10">
                <form asp-controller="Hotels" asp-action="ShowRoomFromHotel" asp-route-id="@ViewBag.hotelID">
                    <button type="submit" class="btn btn-dark"> 房間</button>
                </form>
                <form asp-controller="Hotels" asp-action="ShowRoomFromHotel" asp-route-id="@ViewBag.hotelID">
                    <button type="submit" class="btn btn-dark"> 房間</button>
                </form>
            </div>
            <div class="col-6 w-100 h-10">
                <form asp-controller="Hotels" asp-action="ShowBooking">
                    <!-- form fields -->
                    <button class="btn btn-dark" type="submit">訂單</button>
                </form>
            </div>
        </div>
    </div>
    <div id="app">
        <h2>測試評論分數</h2>
        <div>
            <h3>{{ rate }}</h3>
        </div>
        <h2>測試代處理訂單</h2>
        <div>
            <h3>{{ newBooking }}</h3>
        </div>
        
    </div>


    
</div>


@section Scripts{
    <script src="js/kaiadmin.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script>
        const vueApp = {
            data() {
                return {
                    baseAddress: "https://localhost:7112/Hotels/",
                    rate:"",
                    newBooking:0,
                };
            },
            mounted() {

                this.getRate();
                this.getNewBooking();
            },
            methods: {
                getRate() {
                    try {

                        axios.post(`${this.baseAddress}CountRating`)
                            .then(response => {
                                //alert(JSON.stringify(response.data));
                                this.rate = response.data;


                            })
                            .catch(err => { alert(err) })
                        // const response =  axios.post(`${this.baseAddress}GetRoomList`,this.bookingID);
                        // this.roomList = response.data;
                    } catch (err) {
                        alert(err);
                    }
                },
                getNewBooking(){
                    try{
                        axios.post(`${this.baseAddress}NewBookingNotice`)
                        .then(response=>{
                            this.newBooking = response.data;
                        }).catch(err=>{
                            alert(err)
                        })
                    }
                    catch(err){

                    }
                },
                

            },
        };


        Vue.createApp(vueApp).mount("#app");
    </script>
}