@model IEnumerable<Tailstale.Models.business>

<div class="container">
    <div class="row">
        @foreach (var hotel in Model)
        {
            <div class="card mb-3" style="max-height:200px;max-width:80%" >
                <div class="row">
                    <div class="col-md-4">
                        <img  style="max-width:80%;max-height:180px;border:dotted 2px" src="~/images/noimg.jpg" />
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">@hotel.name</h5>
                            <button class="btn-primary">查看訂房狀態</button>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>





