
@{
    int? ID = ViewBag.userID;
    int? userType = ViewBag.userType;
}
<div id="App">
    <header>
        <div class="container-fluid">
            <div class="navbar navbar-expand-lg navbar-light sticky-top  ">
                <div class="col-4 nav-item  ">
                    <a asp-controller="Home" asp-action="Index"><img src="/imgs/LNR_img/logo2.png" width="160" height="44"></a>
                </div>
                <a class="col-3 nav-item nav-link" href="#">紀錄&社交</a>
                <a class=" col-3 nav-item nav-link" href="#">服務&查詢</a>
                <div class="col-2 nav-item align-self-end ">

                    @if(ID != null)
                    {
                        @await Component.InvokeAsync("LoginUTag", new {id = ID, Utype = userType})
                    }else{
                        @await Html.PartialAsync("_UnLoginUTag")
                    }

                </div>
            </div>

        </div>
    
    </header>
    <div class="container">
        <!--側攔-->
        <aside>
            <div class="col-3 rounded-2 shadow-sm mt-4 bg-light">
                <div class="row">
                    <!--使用者資訊-->
                </div>
                <hr />
                <div class="row mt-3">
                    <!--按鈕列表-->
                    <ul class="nav nav-pills flex-column mb-auto">
                        <li class="nav-item">
                            <a href="#" class="nav-link link-dark " aria-current="page">
                                <svg class="bi me-2" width="16" height="16"><use xlink:href="#home"></use></svg>
                                會員資訊
                            </a>
                        </li>
                        <li>
                            <a href="#" class="nav-link link-dark">
                                <svg class="bi me-2" width="16" height="16"><use xlink:href="#speedometer2"></use></svg>
                                所有寵物
                            </a>
                        </li>
                        <li>
                            <a href="#" class="nav-link link-dark">
                                <svg class="bi me-2" width="16" height="16"><use xlink:href="#table"></use></svg>
                                歷史訂單
                            </a>
                        </li>
                        <li>
                            <a href="#" class="nav-link link-dark">
                                <svg class="bi me-2" width="16" height="16"><use xlink:href="#grid"></use></svg>
                                歷史貼文
                            </a>
                        </li>
                        <li>
                            <a href="#" class="nav-link link-dark">
                                <svg class="bi me-2" width="16" height="16"><use xlink:href="#people-circle"></use></svg>
                                相片集
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </aside>

        <div class="col-9">
            <div class="row">
                <div class="col-12">
                </div>
                <div class="col-12">
                </div>
                <div class="col-12">
                </div>
            </div>
        </div>

    </div>

</div>

<script src="~/js/keeper/IndexVue.js"></script>
