@model Tailstale.MedRecordDTO.MedicalRecordDTO

@{
    ViewData["Title"] = "Create";
}

<h1>新增病歷記錄</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="id" />
            <div class="form-group">
                <label asp-for="pet_id" class="control-label"></label>
                <input asp-for="pet_id" class="form-control" readonly/>
                <span asp-validation-for="pet_id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="outpatient_clinic_id" class="control-label"></label>
                <input asp-for="outpatient_clinic_id" class="form-control" />
                <span asp-validation-for="outpatient_clinic_id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="weight" class="control-label"></label>
                <input asp-for="weight" class="form-control" />
                <span asp-validation-for="weight" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="complain" class="control-label"></label>
                <input asp-for="complain" class="form-control" />
                <span asp-validation-for="complain" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="diagnosis" class="control-label"></label>
                <input asp-for="diagnosis" class="form-control" />
                <span asp-validation-for="diagnosis" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="treatment" class="control-label"></label>
                <input asp-for="treatment" class="form-control" />
                <span asp-validation-for="treatment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="memo" class="control-label"></label>
                <input asp-for="memo" class="form-control" />
                <span asp-validation-for="memo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="fee" class="control-label"></label>
                <input asp-for="fee" class="form-control" />
                <span asp-validation-for="fee" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="新增" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">返回</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
