@model Tailstale.MedRecordDTO.MedicalRecordDTO 
@*存在路徑+檔案*@

@{
    ViewData["Title"] = "Edit";
}

<h1>修改</h1>
@*順序不用跟DTO一樣*@
<h4>medical_record</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="id" />@*藏id*@
            <div class="form-group">
                <label asp-for="id" class="control-label"></label>
                <input asp-for="id" class="form-control" readonly />@*readonly唯獨*@
                <span asp-validation-for="id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="keeper" class="control-label"></label>
                <input asp-for="keeper" class="form-control" readonly />
                <span asp-validation-for="keeper" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="pet_id" class="control-label"></label>
                <input asp-for="pet_id" class="form-control" readonly />
                <span asp-validation-for="pet_id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="created_at" class="control-label"></label>
                <input asp-for="created_at" class="form-control" readonly />
                <span asp-validation-for="created_at" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="outpatient_clinic_id" class="control-label"></label>
                <input asp-for="outpatient_clinic_id" class="form-control" readonly />
                <span asp-validation-for="outpatient_clinic_id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="weight" class="control-label"></label>
                <input asp-for="weight" class="form-control" />
                <span asp-validation-for="weight" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="admission_process" class="control-label"></label>
                <input asp-for="admission_process" class="form-control" />
                <span asp-validation-for="admission_process" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="diagnosis" class="control-label"></label>
                <input asp-for="diagnosis" class="form-control" />
                <span asp-validation-for="diagnosis" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="treatment" class="control-label"></label>
                <input asp-for="treatment" class="form-control" />
                <span asp-validation-for="treatment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="memo" class="control-label"></label>
                <input asp-for="memo" class="form-control" />
                <span asp-validation-for="memo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="fee" class="control-label"></label>
                <input asp-for="fee" class="form-control" />
                <span asp-validation-for="fee" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">返回病歷清單</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
