@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model int
<!-- Modal_S -->
<!-- InsertImgModal  -->
<div class="modal fade" id="InsertImgModal" tabindex="-1" aria-labelledby="InsertImgModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"> 添加相片</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="post" enctype="multipart/form-data" id="InsertImg">
                    <div class="form-floating mb-3">
                        <input type="file" name="img" id="insertImg" />
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="insertImgName" name="Imgname" placeholder="圖片名稱">
                        <label for="insertImgName" class="form-label">圖片名稱</label>
                    </div>
                    <div class="form-floating mb-3">
                        <select class="form-select" aria-label="Default select example">
                            <option selected>選擇存入相簿</option>
                        </select>   
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="insertImgtype" name="type_name" placeholder="建立相簿並存入">
                        <label for="updateEmail" class="form-label">建立相簿並存入</label>
                    </div>
                    <button type="submit" class="btn btn-danger">Upload</button>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">關閉</button>
            </div>
        </div>
    </div>
</div>
<!-- InsertImgModall_E  -->
<!-- DeleteimgtypeModal -->
<div class="modal fade" id="DeleteimgtypeModal" tabindex="-1" aria-labelledby="InsertImgModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"> 刪除相簿</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                   確定要刪除該相簿嗎？裡頭的影像會一起刪除喔！
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">關閉</button>
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal" id="Deleteimg">確定</button>
            </div>
        </div>
    </div>
</div>
<!--InsertImgTypeModal-->
<div class="modal fade" id="InsertImgTypeModal" tabindex="-1" aria-labelledby="InsertImgTypeModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"> 建立相簿</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="InsertImgType">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="type_name" name="type_name" placeholder="相簿名稱">
                        <label for="updateEmail" class="form-label">相簿名稱</label>
                    </div>
                    <button type="submit" class="btn btn-danger">增加</button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">關閉</button>
            </div>
        </div>
    </div>
</div>

<!--InsertImgTypeModal_E-->
<!-- Modal_E -->

<div class="container-fluid">
    <div class="row shadow rounded-2 align-content-center mb-4">
        <div class="col-12">
            <div>
                <table class="table col-12 table-striped table-hover" id="imgTypeTable">
                    <thead>
                        <tr>
                            <th>相簿編號</th>
                            <th>相簿名稱</th>
                            <th>選擇</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>

    </div>
    <div class="row shadow rounded-2 justify-content-sm-end justify-content-lg-end">

        <div class="col-4  py-3  d-flex align-content-center"">
            <button class="btn btn-outline-primary btn-sm mx-3 " type="button" data-bs-toggle="modal" data-bs-target="#InsertImgTypeModal">新增相簿</button>
            <button class="btn btn-primary btn-sm mx-3 " type="button" data-bs-toggle="modal" data-bs-target="#InsertImgModal">新增相片</button>
            <button class="btn btn-danger btn-sm " type="button" data-bs-toggle="modal" data-bs-target="#DeleteimgtypeModal" id="deleteImgBTN">刪除</button>
        </div>
    </div>
</div>
