@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model int
<!-- Modal_S -->
<!-- InsertImgModal  -->
<div class="modal fade" id="InsertImgModal" tabindex="-1" aria-labelledby="InsertImgModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"> 添加相片</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="InsertImg" enctype="multipart/form-data" method="post">
                    <div class="form-floating mb-3">
                        <input type="file" name="insertImg" id="insertImg" />
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="insertImgName" name="insertImgName" placeholder="圖片名稱">
                        <label for="insertImgName" class="form-label">圖片名稱</label>
                    </div>
                    <div class="form-floating mb-3">
                        <select class="form-select" aria-label="Default select example">
                            <option selected>選擇存入相簿</option>
                        </select>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="insertImgtype" name="insertImgtype" placeholder="建立相簿並存入">
                        <label for="updateEmail" class="form-label">建立相簿並存入</label>
                    </div>
                        <button type="submit">Upload</button>
                    
                </form>

                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">關閉</button>
            </div>
        </div>
    </div>
</div>
<!-- InsertImgModall_E  -->

<!-- Modal_E -->

<div class="container-fluid">
    <div class="row shadow rounded-2 align-content-center mb-4">
        <div class="col-7">
            <div>
                <table class="table col-12 table-striped table-hover" id="table">
                    <thead>
                        <tr>
                            <th>相簿編號</th>
                            <th>相簿名稱</th>
                            <th>選擇</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
        <div class="col-4">
            tsideadasd
        </div>
    </div>
    <div class="row shadow rounded-2 justify-content-sm-end">

        <div class="col-4  py-3 d-flex  ">
            <button class="btn btn-outline-primary btn-sm mx-3 " type="button" data-bs-toggle="modal" data-bs-target="#InsertImgModal">新增相片</button>
            <button class="btn btn-outline-primary btn-sm mx-3" type="button" data-bs-toggle="modal" data-bs-target="#UserUpdateModal">修改</button>
            <button class="btn btn-danger btn-sm " type="button" data-bs-toggle="modal" data-bs-target="#UserDeleteModal" id="deleteImgBTN">刪除</button>
        </div>
    </div>
</div>
