@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
<div id="app">


    <div class="container" id="app">
        <!--側攔-->
        <div class="row mt-4">
            <div class="col-2 rounded-2 shadow-sm  bg-light">
                <div class="row">
                    @await Component.InvokeAsync("LUTag")
                </div>
                <hr />
                <div class="row mt-3">
                    <a v-for="tab in tabs"
                       :key="tab"
                       :class="['nav-link link-dark-hover', { active: currentTab === tab }]"
                       @@click="currentTab = tab">
                        {{ tab }}
                    </a>
                    @* <a class="nav-link link-dark-hover" @@click="logout()">登出</a> *@
                </div>
            </div>
            <div class="col-9">
                <component :is="currentTabComponent" :userID="@ViewBag.loginID" @@data-updated="GetUserimgm"></component>
            </div>
        </div>
    </div>
</div>


<script type="text/x-template" id="tab-Main">
        <!--articleModal S-->
 <div class="modal fade" id="articleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" ref="articleModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body ">
                <div class="container-fluid">
                    <h4>原文</h4>
                    <!--主文章-->
                    <div class="row">
                        <div class="card mb-1 border-secondary rounded-3 mb-3">
                            <div class="card-header bg-light text-nowrap">
                                <img :src="imgurl(selectedArt?.uType, selectedArt?.imgurl)" alt="mdo" width="48" height="48" class="rounded-circle d-inline">
                                <h6 class="d-inline">{{selectedArt?.kName ?? selectedArt?.bName}}</h6>
                                    <i class="bi bi-person-circle" v-if="!selectedArt?.ispublic "></i>
                                    <i class="bi bi-people-fill" v-if="selectedArt?.ispublic "></i>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <p class="card-text">{{selectedArt?.content}}</p>
                                </div>
                                <div class="row">
                                        <!--圖片-->
                                        <div class="row" v-if="selectedArt?.imgurllist.length > 0">
                                        <div :id="`carousel${selectedArt?.id}`" class="carousel slide" data-bs-ride="carousel">
                                            <div class="carousel-inner">
                                                <div class="carousel-item active" >
                                                    <img :src="bindimgurl(selectedArt?.imgurllist[0], selectedArt?.uType)" class="d-block w-100" alt="...">
                                                </div>
                                                    <div class="carousel-item" v-for="fileData in selectedArt?.imgurllist">
                                                    <img :src="bindimgurl(fileData, selectedArt?.uType)" class="d-block w-100" alt="...">
                                                </div>
                                            </div>
                                                <button class="carousel-control-prev" type="button" :data-bs-target="`#carousel${selectedArt?.id}`" data-bs-slide="prev">
                                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                                <span class="visually-hidden">Previous</span>
                                            </button>
                                                <button class="carousel-control-next" type="button" :data-bs-target="`#carousel${selectedArt?.id}`" data-bs-slide="next">
                                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                                <span class="visually-hidden">Next</span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <h6 class="card-subtitle mb-2 text-muted d-inline" v-for="publicTag in selectedArt?.publicTaglist">{{publicTag}}</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                        <!--貼文-->
                        <div class="row overflow-auto " style="height:300px">
                        <div class="col-2">

                        </div>
                        <div class="col-10">
                                <div class="card mb-1 border-secondary rounded-3  " v-for="at in parentArt" >
                                <div class="card-header bg-light text-nowrap" @@click="openPost(at)">
                                    <img :src="imgurl(at.uType,at.imgurl)" alt="mdo" width="32" height="32" class="rounded-circle d-inline mx-2">
                                    <h6 class="d-inline">{{at.kName ?? at.bName}}</h6>
                                        <i class="bi bi-person-circle" v-if="!at.ispublic "></i>
                                        <i class="bi bi-people-fill" v-if="at.ispublic "></i>

                                </div>
                                <div class="card-body">
                                    <div class="row" @@click="openPost(at)">
                                        <p class="card-text">{{at.content}}</p>
                                    </div>
                                    <div class="row" v-if="at.imgurllist?.length > 0">
                                        <div :id="`carousel${at.id}`" class="carousel  carousel-dark slide" data-bs-ride="carousel">
                                            <div class="carousel-inner">
                                                <div class="carousel-item active" data-bs-interval="5000">
                                                    <img :src="bindimgurl(at.imgurllist[0], at.uType)" class="d-block w-100" alt="...">
                                                </div>
                                                <div class="carousel-item" data-bs-interval="5000" v-for="fileData in at.imgurllist">
                                                    <img :src="bindimgurl(fileData, at.uType)" class="d-block w-100" alt="...">
                                                </div>
                                            </div>
                                            <button class="carousel-control-prev" type="button" :data-bs-target="`#carousel${at.id}`" data-bs-slide="prev">
                                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                                <span class="visually-hidden">Previous</span>
                                            </button>
                                            <button class="carousel-control-next" type="button" :data-bs-target="`#carousel${at.id}`" data-bs-slide="next">
                                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                                <span class="visually-hidden">Next</span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" @@click="openPost(at)">
                                    <h6 class="card-subtitle mb-2 text-muted d-inline" v-for="publicTag in at.publicTaglist">{{publicTag}}</h6>
                                </div>
                            </div>
                        </div>

                     </div>
                </div>
            </div>
            </div>
        </div>
    </div>
        <!--articleModal E-->
    <div class="container-fluid">
        <div class="row shadow rounded-2 align-content-center mb-4">
            <h2>最近發生什麼</h2>
        </div>
        <div class="row shadow rounded-2 align-content-center mb-4">
            <h5>您好！{{name}}，最近一周發了{{artcount}}篇貼文   ，您的文章最近獲得了{{respL}}回復，新增了{{orderL}}個預約！</h5>
        </div>
         <div class="row shadow rounded-2 align-content-center mb-4 p-4">
                  <h5>最新一筆新的預約</h5>
                <table class="table">
                      <thead>
                        <tr>
                          <th scope="col">編號</th>
                          <th scope="col">寵物名稱</th>
                          <th scope="col">服務種類</th>
                          <th scope="col">店家名稱</th>
                          <th scope="col">服務名稱</th>
                          <th scope="col">預約時間</th>
                          <th scope="col">預約狀態</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                            <th scope="row">{{ neworder[orderL]?.orderID}}</th>
                            <td>{{  neworder[orderL]?.orderPet}}</td>
                            <td>{{ neworder[orderL]?.orderType}}</td>
                            <td>{{  neworder[orderL]?.businessName}}</td>
                            <td>{{ neworder[orderL]?.serviceName}}</td>
                            <td>{{ neworder[orderL]?.orderDate}}</td>
                            <td>{{ neworder[orderL]?.orderStatus}}</td>

                        </tr>
                      </tbody>
                </table>
               <!--最近預約-->
           </div>
        <div class="row shadow rounded-2 align-content-center mb-4 p-4">
            <!--左上文章、左下回復、右上最新寵物、右下圖片-->
           <div class="row">
               <div class="col-5 me-3">
                   <div class="row">
                       <h5>最新貼文</h5>
                            <div class="overflow-auto" style="height:13rem">
                                    <div class="card mb-1 border-secondary rounded-3  " v-for="at in newpost">
                               <div class="card-header bg-light text-nowrap" >
                                   <img :src="imgurl(at.uType,at.imgurl)" alt="mdo" width="48" height="48" class="rounded-circle d-inline">
                                   <h6 class ="d-inline">{{at.kName ?? at.bName}}</h6>
                                   <i class="bi bi-person-circle" v-if="!at.ispublic "></i>
                                   <i class="bi bi-people-fill" v-if="at.ispublic "></i>
                               </div>
                               <div class="card-body" >
                                   <div class="row" >
                                       <p class="card-text">{{at.content}}</p>
                                   </div>
                                   <div class="row" v-if="at && at.imgurllist && at.imgurllist.length > 0">
                                       <div :id="`carousel${at.id}`" class="carousel  carousel-dark slide" data-bs-ride="carousel">
                                           <div class="carousel-inner">
                                               <div class="carousel-item active" data-bs-interval="5000">
                                                   <img :src="bindimgurl(at.imgurllist[0], at.uType)" class="d-block w-100" alt="...">
                                               </div>
                                               <div class="carousel-item" data-bs-interval="5000" v-for="fileData in at.imgurllist">
                                                   <img :src="bindimgurl(fileData, at.uType)" class="d-block w-100" alt="...">
                                               </div>
                                           </div>
                                           <button class="carousel-control-prev" type="button" :data-bs-target="`#carousel${at.id}`" data-bs-slide="prev">
                                               <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                               <span class="visually-hidden">Previous</span>
                                           </button>
                                           <button class="carousel-control-next" type="button" :data-bs-target="`#carousel${at.id}`" data-bs-slide="next">
                                               <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                               <span class="visually-hidden">Next</span>
                                           </button>
                                       </div>
                                   </div>
                               </div>
                               <div class="row" >
                                   <h6 class="card-subtitle mb-2 text-muted d-inline" v-for="publicTag in at.publicTaglist">{{publicTag}}</h6>
                               </div>
                           </div>
                             </div>
                   </div>
                   <div class="row">
                       <h5>最新回應</h5>
                          <p>點擊回應查看原文章</p>
                            <div class="overflow-auto" style="height:16rem">
                                  <div class="card mb-1 border-secondary rounded-3  " v-for="at in newallresp">
                               <div class="card-header bg-light text-nowrap" @@click="openPost(at)">
                                   <img :src="imgurl(at.uType,at.imgurl)" alt="mdo" width="48" height="48" class="rounded-circle d-inline">
                                   <h6 class ="d-inline">{{at.kName ?? at.bName}}</h6>
                                   <i class="bi bi-person-circle" v-if="!at.ispublic "></i>
                                   <i class="bi bi-people-fill" v-if="at.ispublic "></i>
                               </div>
                               <div class="card-body" >
                                   <div class="row" @@click="openPost(at)">
                                       <p class="card-text">{{at.content}}</p>
                                   </div>
                                       <div class="row"  v-if="at && at.imgurllist && at.imgurllist.length > 0">
                                       <div :id="`carousel${at.id}`" class="carousel  carousel-dark slide" data-bs-ride="carousel">
                                           <div class="carousel-inner">
                                               <div class="carousel-item active" data-bs-interval="5000">
                                                   <img :src="bindimgurl(at.imgurllist[0], at.uType)" class="d-block w-100" alt="...">
                                               </div>
                                               <div class="carousel-item" data-bs-interval="5000" v-for="fileData in at.imgurllist">
                                                   <img :src="bindimgurl(fileData, at.uType)" class="d-block w-100" alt="...">
                                               </div>
                                           </div>
                                           <button class="carousel-control-prev" type="button" :data-bs-target="`#carousel${at.id}`" data-bs-slide="prev">
                                               <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                               <span class="visually-hidden">Previous</span>
                                           </button>
                                           <button class="carousel-control-next" type="button" :data-bs-target="`#carousel${at.id}`" data-bs-slide="next">
                                               <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                               <span class="visually-hidden">Next</span>
                                           </button>
                                       </div>
                                   </div>
                               </div>
                               <div class="row" @@click="openPost(at)">
                                   <h6 class="card-subtitle mb-2 text-muted d-inline" v-for="publicTag in at.publicTaglist">{{publicTag}}</h6>
                               </div>
                           </div>

                          </div>
                   </div>

                </div>
                <div class="col-6">
                       <div class="row">
                           <h5>最新增加的寵物</h5>
                                          <div class="overflow-auto row flex-nowrap  row-cols-1 p-2" style="height:18rem">
                                           <div class="card mx-1 my-1 col" style="width: 10rem;" v-for = "pet in newpets" >
                                        <div  class="card-body">
                                            <img :src=" `/imgs/keeper_img/${pet.imgurl}` " class="card-img-top" alt="cat-head">
                                        <h5 class="card-title">{{pet.name}}</h5>
                                               <h6 class="card-subtitle mb-2 text-muted">{{this.getPetType(pet) +','+pet.age+"歲"}}</h6>
                                        <p class="card-text">

                                        </p>
                                        </div>
                                   </div>
                            </div>
                       </div>
                                               <div class="row">
                           <h5>最新增加的照片</h5>
                           <p>相片存放在{{ newPictures?.typename }}</p>
                           <img :src=" `/imgs/keeper_img/${newPictures?.url}` " class="w-100 img-thumbnail">
                       </div>
                  </div>
             </div>

           </div>
           
        </div>
    </div>
</script>

<script type="text/x-template" id="tab-UInfo">
    <!-- Modal_S -->
    <!-- UserUpdateModal S-->
    <div class="modal fade" id="UserUpdateModal" tabindex="-1" aria-labelledby="UserUpdateModal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">修改會員資料</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="UpdateUser"  @@submit.prevent="postuserinfo" ref="userinfoform">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="updateName" name="name" placeholder="名稱" :value="user.name">
                            <label for="updateName" class="form-label">名稱</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="email" class="form-control" id="updateEmail" name="email" placeholder="電子信箱" :value="user.email">
                            <label for="updateEmail" class="form-label">電子信箱</label>
                        </div>
                        <div class=" form-floating mb-3">
                            <input type="text" class="form-control" id="updateAddress" name="address" placeholder="聯絡地址":value="user.address" >
                            <label for="updateAddress" class="form-label">聯絡地址</label>

                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="updatePhone" name="phone" placeholder="聯絡電話" :value="user.phone">
                            <label for="updatePhone" class="form-label">聯絡電話</label>

                        </div>
                        <button type="submit" class="btn btn-primary justify-content-end">修改資料</button>
                    </form>
                </div>

            </div>
        </div>
    </div>
    <!-- UserUpdateModal E-->
    <!-- UserUpdateImgModal S-->
        <div class="modal fade" id="UserUpdateImgModal" tabindex="-1" aria-labelledby="UserUpdateImgModal" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">上傳圖片</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" ></button>
                    </div>
                    <div class="modal-body">
                        <form id="UpdateUserImg"  @@submit.prevent="postUserimgInfo" ref="form">
                            <div class="form-floating mb-3">
                                <span>上傳圖片：</span>
                                    <input type="file" class="form-control form-control-sm" id="updateImg" name="img" accept="image/png, image/jpeg, image/jpg" @@change="handleFileChange">
                            </div>
                            <div class="form-floating mb-3">
                                    <span>圖片預覽：</span>
                                    <div v-if="fileData">
                                        <img :src="fileData" alt="File Preview" class="w-50" />
                                    </div>
                            </div>

                            <button type="submit" class="btn btn-primary justify-content-end">上傳</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- UserUpdateImgModal E-->
    <!-- Modal_E -->
    <div class="container-fluid">
        <div class="row shadow rounded-2 align-content-center mb-4">
            <h2>使用者資訊</h2>
        </div>
        <div class="row shadow rounded-2 align-content-center mb-4 p-3">
            <div class="col-7">
                <dl class="row">
                    <dt class="col-4 col-md-12 ">使用者編號：</dt>
                    <dd class="col-sm-10">
                                <span>{{userid}}</span>
                    </dd>
                    <dt class="col-4 col-md-12">
                        電子信箱：
                    </dt>
                    <dd class="col-sm-10">
                        <span>{{user.email}}</span>
                    </dd>
                    <dt class="col-4 col-md-12">姓名：</dt>
                    <dd class="col-sm-10">
                        <span>{{user.name}}</span>
                    </dd>
                    <dt class="col-4 col-md-12">
                        連絡住址：
                    </dt>
                    <dd class="col-sm-10">
                        <span>{{user.address}}</span>
                    </dd>

                    <dt class="col-4 col-md-12">
                        連絡電話：
                    </dt>
                    <dd class="col-sm-10">
                        <span>{{user.phone}}</span>
                    </dd>
                    <dt class="col-4 col-md-12">
                        會員狀態：
                    </dt>
                    <dd class="col-sm-10">
                        <span>{{ user.status }}</span>
                            
                    </dd>

                    <dt class="col-4 col-md-12">
                        加入時間：
                    </dt>
                    <dd class="col-sm-10">
                        <span>{{ user.created_at.split('T')[0] }}</span>
                    </dd>
                </dl>
                <button class="btn btn-outline-primary btn-sm mx-1" 
                        type="button" data-bs-toggle="modal" 
                        data-bs-target="#UserUpdateModal">
                修改會員資料
                </button>
                <button class="btn btn-outline-primary btn-sm mx-1"
                        type="button" data-bs-toggle="modal" 
                        data-bs-target="#UserUpdateModal">
                認證會員
                </button>
                <button class="btn btn-outline-primary btn-sm mx-1"
                        type="button" data-bs-toggle="modal"
                        data-bs-target="#UserUpdateModal">
                重設密碼
                </button>
            </div>
            <div class="col-4">
                <div class="container">
                    <div class="row mb-3">
                        <h4>目前頭像：</h4>
                    </div>
                    <div class="row mb-3">
                        <img :src="imgurl" />
                    </div>                        
                    <div class="row mb-3">
                        <button class="btn btn-outline-primary btn-sm mx-3"
                                type="button" data-bs-toggle="modal"
                                data-bs-target="#UserUpdateImgModal">
                        更新頭像
                        </button>
                    </div>
                </div>
            </div>
         </div>
    </div>
</script>

<script type="text/x-template" id="tab-PInfo">
<!-- PUpdateModal S-->
    <div class="modal fade" id="PUpdateModal" tabindex="-1" aria-labelledby="PUpdateModal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">新增寵物</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="UpdateUser" @@submit.prevent="submitForm" ref="form">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="name" name="name" placeholder="名稱">
                            <label for="updateName" class="form-label">名稱</label>
                        </div>
                        <div class=" form-floating mb-3">
                            <input type="number" class="form-control" id="age" name="age" placeholder="年齡">
                            <label for="age" class="form-label">年齡</label>
                        </div>
                        <div class="form-floating mb-3">
                             <span>生日：</span>
                            <br />
                            <input type="date"  id="birthday" name="birthday">
                        </div>
                        <div class=" form-floating mb-3">
                            <span>寵物品種：</span>
                            <br />
                            <select class="form-select form-select-sm" aria-label=".form-select-sm example" name="pet_type_ID">
                                <option v-for="pet in pet_types" :key="pet.id" :value="pet.id">
                                    {{ pet.species + ', ' + pet.breed}}
                                </option>
                            </select>
                        </div>
                        <div class="form-floating mb-3">
                            <span>寵物性別：</span>
                            <br />
                              <div class="form-check form-check-inline">
                              <input class="form-check-input" type="radio" name="gender" id="gender1" value="0">
                              <label class="form-check-label" for="inlineRadio1">公</label>
                            </div>
                            <div class="form-check form-check-inline">
                              <input class="form-check-input" type="radio" name="gender" id="gender2" value="1">
                              <label class="form-check-label" for="inlineRadio2">母</label>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary justify-content-end">新增</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
<!-- PUpdateModal E-->
<!-- PImgModal S-->
<div class="modal fade" id="PImgModal" tabindex="1" aria-labelledby="PImgModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">上傳圖片</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" ></button>
            </div>
            <div class="modal-body">
                <form id="PImg"  @@submit.prevent="postPImg" ref="PIform">
                    <div class="form-floating mb-3">
                        <span>上傳圖片：</span>
                            <input type="file" class="form-control form-control-sm" id="updateImg" name="img" accept="image/png, image/jpeg, image/jpg" @@change="handleFileChange">
                    </div>
                    <div class="form-floating mb-3">
                            <span>圖片預覽：</span>
                            <div v-if="fileData">
                                <img :src="fileData" alt="File Preview" class="w-50" />
                            </div>
                    </div>
                    <div class="form-floating mb-3">
                    </div>

                    <button type="submit" class="btn btn-primary justify-content-end">上傳</button>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- PImgModal E-->
    <!-- PDUpdateModal S-->
    <div class="modal fade" id="PDUpdateModal" tabindex="-1" aria-labelledby="PDUpdateModal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">寵物詳細內容</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="PDUpdate" @@submit.prevent="submitPDUForm" ref="PDUform" class="row g-3">
                        <div class="col-6">
                            <div class="form-floating mb-3">
                                <input type="number" :value="getSPetW(selectedPet)" class="form-control" id="name"  name="pet_weight" placeholder="體重" step="0.01">
                                <label for="updateName" class="form-label">體重</label>
                            </div>
                            <div class="form-floating mb-3">
                                <span>是否結紮：</span>
                                <br />
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input form-check-inline" type="radio" name="neutered" id="flexRadioDefault1" value="true"  :checked="selectedPet?.neutered === true"  >
                                    <label class="form-check-label" for="flexRadioDefault1">
                                    已結紮
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input " type="radio" name="neutered" id="flexRadioDefault2"  :checked="selectedPet?.neutered === false" value="false"  >
                                    <label class="form-check-label" for="flexRadioDefault2">
                                    尚未結紮
                                    </label>
                                </div>
                            </div>
                                <div class=" form-floating mb-3">
                                <textarea class="form-control" id="vaccineTextarea1" :value="selectedPet?.vaccine"  name="vaccine"  placeholder="已接踵疫苗：" style="height: 75px"></textarea>
                                <label for="vaccineTextarea1" class="form-label" >已接踵疫苗：</label>
                            </div>
                            <div class=" form-floating mb-3">
                                <textarea class="form-control" id="allergyTextarea1"  :value="selectedPet?.allergy"  name="allergy"  placeholder="過敏史：" rows="3" style="height: 75px"></textarea>
                                <label for="allergyTextarea1" class="form-label">過敏史：</label>
                            </div>
                            <div class="form-floating mb-3">
                                <textarea class="form-control" id="chronic_disTextarea1" :value="selectedPet?.chronic_dis"  name="chronic_dis" placeholder="慢性病史：" rows="3" style="height: 75px"></textarea>
                                <label for="chronic_disTextarea1" class="form-label">慢性病史：</label>
                            </div>
                            <div class="form-floating mb-3">
                                <textarea class="form-control" id="memoTextarea1"   :value="selectedPet?.memo"   name="memo"  rows="4"  placeholder="備註：" style="height: 100px"></textarea>
                                <label for="memoTextarea1" class="form-label">備註：</label>
                            </div>
                        </div>
                        <div class="col-5">
                                <div class="form-floating mb-3">
                                <input type="text" class="form-control" id="name" name="name" :value="selectedPet?.name" placeholder="名稱">
                                <label for="updateName" class="form-label">名稱</label>
                            </div>
                            <div class=" form-floating mb-3">
                                <input type="number" class="form-control" id="age" name="age" :value="selectedPet?.age" placeholder="年齡">
                                <label for="age" class="form-label">年齡</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" id="name" name="chip_ID" :value="selectedPet?.chip_ID" placeholder="晶片編號：">
                                <label for="updateName" class="form-label">晶片編號：</label>
                            </div>
                            <div class="form-floating mb-3">
                                    <span>生日：</span>
                                <br />
                                <input type="date"  id="birthday" name="birthday" :value="selectedPet?.birthday">
                            </div>
                            <div class=" form-floating mb-3">
                                <span>寵物品種：</span>
                                <br />
                                <select class="form-select form-select-sm" aria-label=".form-select-sm example" name="pet_type_ID" :value="selectedPet?.pet_type_ID" >
                                    <option v-for="pet in pet_types" :key="pet.id" :value="pet.id">
                                        {{ pet.species + ', ' + pet.breed}}
                                    </option>
                                </select>
                            </div>
                            <div class="form-floating mb-3">
                                <span>寵物性別：</span>
                                <br />
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="gender" id="gender1" value=false  :checked="selectedPet?.gender === false">
                                    <label class="form-check-label" for="inlineRadio1">公</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="gender" id="gender2" value=true  :checked="selectedPet?.gender === true">
                                    <label class="form-check-label" for="inlineRadio2">母</label>
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary justify-content-end">更改</button>
                    </form>
                </div>

            </div>
        </div>
    </div>
    <!-- postPDetailModal E-->
    <!-- PDetailModal S-->
    <div class="modal fade" id="PDetailModal" tabindex="-1" aria-labelledby="PDetailModal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">詳細資訊</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-5">
                            <dl class="row">
                                <h4>詳細資訊</h4>
                                <dt class="col-4 col-md-12 ">體重：</dt>
                                <dd class="col-sm-10">
                                    <span>{{getSPetW(selectedPet)}}</span>
                                </dd>

                                <dt class="col-4 col-md-12">已接踵疫苗：</dt>
                                <dd class="col-sm-10">
                                        <span>{{selectedPet?.vaccine}}</span>
                                </dd>

                                <dt class="col-4 col-md-12">
                                    是否結紮：
                                </dt>
                                <dd class="col-sm-10">
                                    <span>{{getSPetN(selectedPet)}}</span>
                                </dd>
                                <dt class="col-4 col-md-12">
                                    過敏史：
                                </dt>
                                <dd class="col-sm-10">
                                    <span>{{selectedPet?.allergy}}</span>
                                </dd>

                                <dt class="col-4 col-md-12">
                                    慢性病：
                                </dt>
                                <dd class="col-sm-10">
                                    <span>{{selectedPet?.chronic_dis}}</span>
                                </dd>

                                <dt class="col-4 col-md-12">
                                    備註：
                                </dt>
                                <dd class="col-sm-10">
                                    <span>{{selectedPet?. memo}}</span>

                                </dd>
                            </dl>
                            <button class="btn btn-outline-primary btn-sm mx-3"
                                    type="button"  @@click="openDetailModal()">
                                修改寵物詳細資訊
                            </button>
                         </div>
                        <div class="col-5">
                            <div class="row">
                                <h4>寵物頭像</h4>
                                <img :src="`/imgs/keeper_img/${selectedPet?.imgurl}`" class="" alt="cat-head">
                                <button class="btn btn-outline-primary btn-sm mx-3"
                                        type="button"  @@click="openChangeimgModel(selectedPet)">
                                    修改寵物頭像
                                    </button>
                            </div>
                            <dl class="row">
                                    <h4>基礎資訊</h4>
                                <dt class="col-4 col-md-12 ">寵物編號：</dt>
                                <dd class="col-sm-10">
                                        <span>{{selectedPet?.id }}</span>
                                </dd>

                                <dt class="col-4 col-md-12">姓名：</dt>
                                <dd class="col-sm-10">
                                    <span>{{selectedPet?.name}}</span>
                                </dd>

                                <dt class="col-4 col-md-12">
                                    晶片編號：
                                </dt>
                                <dd class="col-sm-10">
                                        <span>{{selectedPet?.chip_ID}}</span>
                                </dd>
                                <dt class="col-4 col-md-12">
                                    生日：
                                </dt>
                                <dd class="col-sm-10">
                                    <span>{{selectedPet?.birthday}}</span>
                                </dd>

                                <dt class="col-4 col-md-12">
                                    性別：
                                </dt>
                                <dd class="col-sm-10">
                                    <span>{{getGender(selectedPet)}}</span>
                                </dd>

                                <dt class="col-4 col-md-12">
                                    年齡：
                                </dt>
                                <dd class="col-sm-10">
                                    <span>{{selectedPet?.age+"歲"}}</span>
                                </dd>

                                <dt class="col-4 col-md-12">
                                    加入時間：
                                </dt>
                                <dd class="col-sm-10">
                                        <span>{{selectedPet?.created_at.split('T')[0]}}</span>
                                </dd>
                            </dl>
                        </div>
                    </div>
                 </div>
            </div>
        </div>
    </div>
    <!-- PDetailModal E-->
    <div class="container-fluid">
        <div class="row shadow rounded-2 align-content-center mb-4">
            <h2>寵物資訊</h2>
        </div>
        <div class="row shadow rounded-2 align-content-center mb-4">
            <button class="btn btn-outline-primary btn-sm "
            type="button" data-bs-toggle="modal"
            data-bs-target="#PUpdateModal"
            >
            新增寵物
        </button>
        </div>
        <!--使用V-for重複載入寵物的卡片-->
        <div class="row shadow rounded-2 align-content-center mb-4 p-2">
            <component :is="currentTabComponent" :userID="@ViewBag.loginID" @@data-updated="    "></component>
            <div class="card mx-1 my-1" style="width: 12rem;" v-for = "pet in pets">
              <div  class="card-body">
                <img :src="getPetimg(pet)" class="card-img-top" alt="cat-head">
                <h5 class="card-title">{{pet.name}}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{this.getPetType(pet) +','+pet.age+"歲"}}</h6>
                <p class="card-text">{{ this.getGender(pet) }}</p>
                <button class="btn btn-outline-primary btn-sm "
                type="button" data-bs-toggle="modal"
                data-bs-target="#PDetailModal"
                @@click="openModal(pet)">
                詳細資訊
                </button>
              </div>
            </div>
        </div>


    </div>
</script>

<script type="text/x-template" id="tab-HisOrder">

<div class="container-fluid">
    <div class="row shadow rounded-2 align-content-center mb-4">
        <h1>歷史訂單</h1>
    </div>
    <div class="row shadow rounded-2 align-content-center mb-4">
        <div class="col-12">
            <div>
                <table class="display table table-striped table-bordered dt-responsive " id="orderTable">
                    
                </table>
            </div>
        </div>

    </div>
</div>
</script>
<script type="text/x-template" id="tab-HisPost">
    <h1>tab-HisPos</h1>
</script>
<script type="text/x-template" id="tab-Imgs">
    <!-- ITIUpdateModal S-->
        <div class="modal fade" id="ITIUpdateModal" tabindex="1" aria-labelledby="ITIUpdateModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">上傳圖片</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" ></button>
            </div>
            <div class="modal-body">
                <form id="ITImg"  @@submit.prevent="postITImg" ref="ITIform">
                    <div class="form-floating mb-3">
                    <span>上傳圖片：</span>
                        <input type="file" class="form-control form-control-sm" id="updateImg" name="imgs" accept="image/png, image/jpeg, image/jpg" @@change="handleFileChange" multiple>
                    </div>
                <button type="submit" class="btn btn-primary justify-content-end">上傳</button>
                </form>
                <div class="form-floating mb-3">
                    <span>圖片預覽：</span>
                    <div class="card-container-cas" v-if="fileDatas.length > 0">
                            <img v-for="fileData in fileDatas" :src="fileData" alt="File Preview" class="card-cas img-thumbnail w-50" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    <!-- ITIUpdateModal E-->
    <!-- ITUpdateModal S-->
<div class="modal fade" id="ITUpdateModal" tabindex="-1" aria-labelledby="ITUpdateModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">新增相簿</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="UpdateUser"  @@submit.prevent="postItype()" ref="form">
                        <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="type_name" name="type_name" placeholder="name@example.com">
                        <label for="type_name">相簿名稱</label>
                    </div>
                    <button type="submit" class="btn btn-primary justify-content-end">新增</button>
                </form>
            </div>

        </div>
    </div>
</div>
    <!-- ITUpdateModal E-->
    <!-- ImgDetailModal S-->
<div class="modal fade" id="ImgDetailModal" tabindex="-1" aria-labelledby=" ImgDetailModal" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">圖片資訊</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-8">
                                <img :src="getTypeCImg(simg.url)" alt="simg" class="img-fluid" />
                            </div>
                            <div class="col-3">
                                <dl>
                                     <dt class="col-4 col-md-12">
                                        相片編號：
                                    </dt>
                                    <dd class="col-sm-10">
                                        <span>{{simg?.id}}</span>
                                    </dd>
                                    <dt class="col-4 col-md-12">
                                        相片名稱：
                                    </dt>
                                    <dd class="col-sm-10">
                                        <span>{{simg?.name}}</span>
                                        
                                    </dd>
                                    <dt class="col-4 col-md-12">
                                        建立時間：
                                    </dt>
                                    <dd class="col-sm-10">
                                        <span>{{simg?.created_at}}</span>
                                    </dd>
                                </dl>
                                <a class="btn btn-primary" @@click="changeimgNane()">更換名稱</a>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <!-- imgDetailModal E-->
    <div class="container-fluid">
        <div class="row shadow rounded-2 align-content-center mb-4">
            <h2>相片庫</h2>
        </div>
        <div class="row shadow rounded-2 align-content-center mb-4">
            <button class="btn btn-outline-primary btn-sm "
            type="button" data-bs-toggle="modal"
            data-bs-target="#ITUpdateModal">
            新增相簿
            </button>
        </div>
        <div class="row shadow rounded-2 mb-4 flex-nowrap  row-cols-1 overflow-auto card-containercas">
            <div class="card mx-1 my-1 col" style="width: 8rem;" v-for ="imgtype in imgtypes" @@click="cilckType(imgtype)">
                <img :src="getTypeCImg(imgtype.imgurl)" class="card-img-top" alt="cat-head">
                <div  class="ccard-body">
                    <span class="card-text">相簿名稱：</span>
                     <p class="card-text">{{imgtype.typename}}</p>
                </div>
            </div>
        </div>
        <div class="align-content-center mb-4" v-if="selectedtype !== ''">
             <div class="row shadow rounded-2 align-content-center mb-4">
                <button class="btn btn-outline-primary btn-sm "
                type="button" data-bs-toggle="modal"
                data-bs-target="#ITIUpdateModal">
                在這個相簿新增相片
                </button>
            </div>
            <div class="card-container-cas shadow rounded-2 align-content-center mb-4 p-3" >
                <div class="card-cas" v-for="img in selectrdtypeimgs" @@click="putname(img)">
                    <img :src="getTypeCImg(img.url)" class="img-thumbnail" alt="cat-head">
                </div>
            </div>
        </div>
        
    </div>
    </div>
</script>

@section scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.21/js/jquery.dataTables.min.js" integrity="sha512-BkpSL20WETFylMrcirBahHfSnY++H2O1W+UnEEO4yNIl+jI2+zowyoGJpbtk6bx97fBXf++WJHSSK2MV4ghPcg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script src="~/js/userInfo/UserInfo.js"></script>
}   

