


@{
    ViewData["Title"] = "Hospital_FrontDeskIndex";
}

@section Styles
{

    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

    <style>

        form{
         margin-top:50px;
        }

        #header{
        margin-top:200px;
        }        
        
    </style>
}
<div class="text-center" id="header">
    <h4>請依照需求輸入搜尋條件</h4>
</div>


<div class="container">
    <div class="row justify-content-center">
        <div class="col-12">            
            <form class="d-flex flex-wrap justify-content-between align-items-center">
                <div class="form-group mb-2 me-2 flex-grow-1">
                    <select class="form-control" v-model="criteria.Address">
                        <option value="" selected disabled>選擇地區</option>
                        <option value="TPE" disabled>台北市</option>
                        <option value="TPH" disabled>新北市</option>
                        <option value="TYC" disabled>桃園市</option>
                        <option value="TXG" disabled>台中市</option>
                        <option value="TNN" disabled>台南市</option>
                        <option value="KHH">高雄市</option>
                    </select>
                </div>
                @* <div class="form-group mb-2 me-2 flex-grow-1">
                    <input type="text" id="dateRange" class="form-control" placeholder="選擇日期範圍" autocomplete="off" />
                </div>                
 *@                <div class="form-group mb-2 me-2 flex-grow-1">
                    <input type="text" class="form-control" id="startDate" value="" placeholder="選擇開始日期" autocomplete="off"/>
                </div>
                <div class="form-group mb-2 me-2 flex-grow-1">
                    <input type="text" class="form-control" id="endDate" value="" placeholder="選擇結束日期" autocomplete="off"/>
                </div>
                <div class="form-group mb-2 me-2 flex-grow-1">
                    <select class="form-control">
                        <option value="" selected>選擇時段</option>
                        <option value="上午診">上午診</option>
                        <option value="下午診">下午診</option>
                        <option value="晚間診">晚間診</option>
                        <option value="夜間診">夜間診</option>
                    </select>
                </div>
                <div class="form-group mb-2 me-2 flex-grow-1">
                    <input type="text" class="form-control" name="clinicName" value="" placeholder="請輸入院所名稱" autocomplete="off" />
                </div>
                <div class="form-group mb-2 me-2 flex-grow-1">
                    <input type="text" class="form-control" name="outpatientClinicName" value="" placeholder="請輸入門診名稱" autocomplete="off" />
                </div>
                <div class="form-group mb-2 me-2 flex-grow-1">
                    <input type="text" class="form-control" name="vetName" value="" placeholder="請輸入醫師姓名" autocomplete="off" />
                </div>
            </form>
            <div class="text-center mt-3 mb-5 form-group mb-2 flex-grow-1">
                <button type="button" class="btn btn-outline-success" id="search"><i class="bi bi-search"></i> 搜尋門診</button>
            </div>
        </div>
    </div>
    
        <!-- 搜尋結果 -->
    <div id="app">
            <div class="container">
                <!-- 搜尋結果表格 -->
                <div v-if="searchingResult.length > 0" class="table-responsive">
                    <table class="table table-striped table-bordered">                    
                        <thead>
                            <tr>
                                <th>日期</th>
                                <th>院所名稱</th>
                                <th>門診名稱</th>
                                <th>時段名稱</th>
                                <th>醫師姓名</th>
                                <th>開始時間</th>
                                <th>結束時間</th>
                                <th>院所電話</th>
                                <th>院所地址</th>
                                <th class="d-none"></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="result in searchingResult" :key="result.date + result.clinicName + result.vetName">
                                <td>{{ result.date }}</td>
                                <td>{{ result.clinicName }}</td>
                                <td>{{ result.outpatientClinicName }}</td>
                                <td>{{ result.timeslotName }}</td>
                                <td>{{ result.vetName }}</td>
                                <td>{{ result.startAt }}</td>
                                <td>{{ result.endAt }}</td>
                                <td>{{ result.clinicPhone }}</td>
                                <td>{{ result.clincAddress }}</td>
                                <td class="d-none">{{ result.businessId }}</td>
                                <td>
                                    <button class="btn btn-outline-success" id="makeAppointment">預約看診</button>
                                    <span id="blockAppointment" class="">已額滿</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <!-- 無結果提示 -->
                <div v-else class="text-center">
                    <p>沒有找到符合條件的結果，請重新輸入搜尋條件</p>
                </div>
            </div>
        </div>


</div>


    



@section Scripts
{

    
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <script>
        $(document).ready(function () {
            $(function () {
                // 取得今天的日期並將時間部分設為午夜
                var today = new Date();
                today.setHours(0, 0, 0, 0); // 設定時間為00:00:00

                // 計算一個月後的日期
                var oneMonthLater = new Date();
                oneMonthLater.setMonth(today.getMonth() + 1);
                oneMonthLater.setHours(23, 59, 59, 999); // 設定時間為23:59:59

                $("#startDate").datepicker({
                    dateFormat: "yy-mm-dd",
                    minDate: today, // 最小日期為今天
                    maxDate: oneMonthLater, // 最大日期為一個月後
                    beforeShowDay: function (date) {
                        // 允許選擇的日期是今天或之後，且在一個月內
                        return [date >= today && date <= oneMonthLater, ''];
                    }
                });
                $("#endDate").datepicker({
                    dateFormat: "yy-mm-dd",
                    minDate: today, // 最小日期為今天
                    maxDate: oneMonthLater, // 最大日期為一個月後
                    beforeShowDay: function (date) {
                        // 允許選擇的日期是今天或之後，且在一個月內
                        return [date >= today && date <= oneMonthLater, ''];
                    }
                });
            });

            new Vue({
                el: '#app',
                data: {
                    searchingResult: [] // 儲存從後端獲取的搜索結果
                },
                methods: {
                    fetchSearchingResult() {
                        // 使用 Axios 發送 POST 請求
                        axios.post('/api/showSearchingResult', {
                            address: '台北市',
                            startDate_front: '2024-08-10',
                            endDate_front: '2024-08-20',
                            timeSlotName_front: '上午診',
                            opcName_front: '內科',
                            vetName_front: '王醫師',
                            clinicName_front: 'ABC診所'
                        })
                            .then(response => {
                                this.searchingResult = response.data;
                            })
                            .catch(error => {
                                console.error('Error fetching data:', error);
                            });
                    }
                },
                mounted() {
                    this.fetchSearchingResult(); // 在組件掛載後自動加載搜索結果
                }
            });

    
            
            // function search() { 
            //  let btnSearch=$('#search
            //  const 
            //     btnSearch.on('click', function () { 
                 
            //     })
            // };
        });
    </script>

}