@model Tailstale.Models.business

@{
    ViewData["Title"] = "businessEdit";
}
@section Styles {
    <link href="~/css/salonfrom.css" rel="stylesheet" />
}
<div class="container">
<h1>修改門市資料</h1>

@* <h4>Reserve</h4> *@
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="businessEdit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <label asp-for="name" class="control-label">門市名稱</label>
                <input asp-for="name" class="form-control"></input>
                <span asp-validation-for="name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="phone" class="control-label">聯絡電話</label>
                @*  <input asp-for="pet_name" class="form-control" /> *@
                <input asp-for="phone" class="form-control"></input>
                <span asp-validation-for="phone" class="text-danger"></span>

            </div>
            <div class="form-group">
                <label asp-for="address" class="control-label">地址</label>
                <textarea id="address" name="address" class="form-control">@Model.address</textarea>
                <span asp-validation-for="address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="geoJson" class="control-label">地圖</label>
                <textarea id="geoJson" name="geoJson" class="form-control">@Model.geoJson</textarea>
                <span asp-validation-for="geoJson" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="license_number" class="control-label">許可證號</label>
                <input asp-for="license_number" class="form-control" />
                <span asp-validation-for="license_number" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="description" class="control-label">門市介紹(500字以下)</label>
                <textarea id="description" name="description" class="form-control">@Model.description</textarea>
                @* <input asp-for="description" class="form-control" /> *@
                <span asp-validation-for="description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="photo_url" class="control-label">門市照片</label>
                <input asp-for="photo_url" class="form-control" type="file" accept="image/*" onchange="previewImage(this)" />
                <span asp-validation-for="photo_url" class="text-danger"></span>
                <img id="imgPreview" src="~/Salon_img/@Model.photo_url" width="200" height="200" />
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        function previewImage(input) {
            var imgPreview = document.getElementById('imgPreview');
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    imgPreview.src = e.target.result;
                }
                reader.readAsDataURL(input.files[0]);
            }
            else {
                imgPreview.src = '@Url.Content("~/Salon_img/111.jpg")'; // 如果没有选择文件，则显示默认图片
            }
        }

        // 使用者選擇不同的檔案時觸發預覽
        document.getElementById('URL').onchange = function () {
            previewImage(this);
        };
    </script>
}
