@model Tailstale.Models.Reserve
@section Styles{

    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.css">
    <style>
        body {
            min-height: 120vh;
        }

        .app {
            margin-left: 10px;

        }

        .hand {
            cursor: pointer;
        }

        iframe{
            border: 0 !important;
            height: 100% !important;
            width: 100% !important;
            min-height: 300px !important;
        }

        .truncate-multiline {
            display: -webkit-box; /* 使用 Flexbox 布局 */
            -webkit-line-clamp: 3; /* 設置顯示的行數 */
            -webkit-box-orient: vertical; /* 垂直排列 */
            overflow: hidden; /* 隱藏超出的內容 */
            text-overflow: ellipsis; /* 顯示省略號 */
        }
        
    </style>
    }




<div id="app">

    <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="https://picsum.photos/900/300" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="https://picsum.photos/900/300" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="https://picsum.photos/900/300" class="d-block w-100" alt="...">
            </div>
        </div>
    </div>


    <div class="container my-5 py-3">
        <div class="row">
            <div class="col">
                <nav class="nav nav-pills nav-fill">
                    <a class="nav-link hand active" id="stepbtn-1" aria-current="page">門市選擇</a>
                    <a class="nav-link hand" id="stepbtn-2">寵物類型</a>
                    <a class="nav-link hand" id="stepbtn-3">服務類型</a>
                    <a class="nav-link hand" id="stepbtn-4">日期時間</a>
                    <a class="nav-link hand" id="stepbtn-5">確認預約</a>
                </nav>
            </div>
        </div>
    </div>





    <div class="container bg-primary my-3 Beauty_Step-1">
        <div v-for="business in businesses" :key="business.ID" class="row py-5 g-3 mb-3">
        <div v-html="business.geoJson" class="col-12 col-md-6">
                
        </div>
        <div class="col-12 col-md-6">
                <img :src="business.photo_url" class="w-100" style="height:300px;" alt="">
                <h3 class="text-center py-2">{{business.name}}</h3>
                <div class="truncate-multiline">
                    {{business.description}}
                </div>
                    <div class="text-end me-5"><a href="#" class="text-white ">顯示更多</a></div>
                
                 <p class="m-0 pt-3">{{business.address}}</p>
                 <p class="m-0 pt-3">{{business.phone}}</p>
                <div class="text-center"><button class="Beauty_btn-1" :value="business.id" v-on:click="selectBusiness(business.id)">選擇此門市</button></div>

            </div>
        </div>
    </div>


    <div class="container my-5 Beauty_Step-2">
        <div class="row">
            <div class="col-12 col-md-4 p-0">
                <div class="border mx-3 p-3">
                    <img src="https://picsum.photos/600/300" class="w-100" alt="">
                    <h3>狗</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi, quisquam laudantium.
                        Perspiciatis
                        incidunt ratione ad modi provident non fugit ipsa magnam. Facere molestiae quis ducimus.</p>
                    <div class="text-center"><button class="Beauty_btn-2-1 pet_type" id="" :value="dogType" v-on:click="selectPetType(dogType)">選擇</button></div>
                </div>

            </div>
            <div class="col-12 col-md-4  p-0">
                <div class="border mx-3 p-3">
                    <img src="https://picsum.photos/600/300" class="w-100" alt="">
                    <h3>貓</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi, quisquam laudantium.
                        Perspiciatis
                        incidunt ratione ad modi provident non fugit ipsa magnam. Facere molestiae quis ducimus.</p>
                    <div class="text-center"><button class="Beauty_btn-2-2  pet_type" id="" :value="catType" v-on:click="selectPetType(catType)">選擇</button></div>
                </div>
            </div>
        </div>
    </div>

    <!-- 3 -->
    <div class="container my-5 Beauty_Step-3-1">
        <div class="row">
            <div v-for="service in services" class="col-12 col-md-4 p-0">
                <div class="border mx-3 p-3">
                    <img :src="`/Salon_img/${service.service_img}`" class="w-100" style="height:300px;" alt="">
                    <h3>{{service.service_name}}</h3>
                    <p>{{service.service_content}}</p>
                    <p>{{service.price}}</p>
                    <div class="text-center"><button class="Beauty_btn-3-1 dog_service"  value="service.service_name">選擇</button>
                    </div>
                </div>
            </div>
           </div>
        </div>
    


@* 

    <div class="container my-5 Beauty_Step-3-2">
        <div class="row">
            <div class="col-12 col-md-4 p-0">
                <div class="border mx-3 p-3">
                    <img src="https://picsum.photos/600/300" class="w-100" alt="">
                    <h3>短毛貓洗澡</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi, quisquam laudantium.
                        Perspiciatis
                        incidunt ratione ad modi provident non fugit ipsa magnam. Facere molestiae quis ducimus.
                    </p>
                    <div class="text-center"><button class="Beauty_btn-3-2 cat_service" id="" value="短毛貓洗澡">選擇</button>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 p-0">
                <div class="border mx-3 p-3">
                    <img src="https://picsum.photos/600/300" class="w-100" alt="">
                    <h3>短毛貓美容</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi, quisquam laudantium.
                        Perspiciatis
                        incidunt ratione ad modi provident non fugit ipsa magnam. Facere molestiae quis ducimus.
                    </p>
                    <div class="text-center"><button class="Beauty_btn-3-2 cat_service" id="" value="短毛貓美容">選擇</button>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4  p-0">
                <div class="border mx-3 p-3">
                    <img src="https://picsum.photos/600/300" class="w-100" alt="">
                    <h3>長毛貓洗澡</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi, quisquam laudantium.
                        Perspiciatis
                        incidunt ratione ad modi provident non fugit ipsa magnam. Facere molestiae quis ducimus.
                    </p>
                    <div class="text-center"><button class="Beauty_btn-3-2 cat_service" id="" value="長毛貓洗澡">選擇</button>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 p-0">
                <div class="border mx-3 p-3">
                    <img src="https://picsum.photos/600/300" class="w-100" alt="">
                    <h3>短毛貓美容</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi, quisquam laudantium.
                        Perspiciatis
                        incidunt ratione ad modi provident non fugit ipsa magnam. Facere molestiae quis ducimus.
                    </p>
                    <div class="text-center"><button class="Beauty_btn-3-2 cat_service" id="" value="短毛貓美容">選擇</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
 *@


    <div class="container my-5 Beauty_Step-4">
        <div class="row">
            <div class="col-12 col-md-12 p-0">
                <p>預約時間: <input type="text" id="Appointment"></p>
                <div class="text-center"><button class="Beauty_btn-4" id="Beauty_date">確定</button>
                    <p class="reminder" id="reminder">請按下「確定」按鈕以完成操作</p>
                </div>
            </div>
        </div>
    </div>

    <div class="container my-5 Beauty_Step-5">
        <div class="row">
            <div class="col-12 col-md-12 p-0">
                <form id="contactForm" action="" class="needs-validation" novalidate>
                    <div class="form-group">
                       <label for="keeper_id" class="form-label">會員名稱：</label>
                       <select asp-items="ViewBag.keeper_ID" asp-for="keeper_id"></select>
                    </div>
                  <div class="form-group">
                    <label for="pet_name" class="form-label">寵物名稱：</label>
                    <select asp-items="ViewBag.pet_name" asp-for="pet_name"></select>
                  </div>
                    <div class="form-group">
                        <label for="business_ID" class="form-label">門市：</label>
                       <input type="text" class="form-control" id="business_ID" name="business_ID" value="" readonly>
                    </div>
                    <div class="form-group">
                        <label for="service_name" class="form-label">服務類型：</label>
                         <input type="text" class="form-control" id="service_name" name="service_name" value="" readonly>
                    </div>
                    <div class="form-group">
                        <label for="s_date" class="form-label">日期時間：</label>
                    <input type="text" class="form-control" id="time" name="time" value="" readonly>
                    </div>
                        <div class="text-center"><button type="submit" class="Beauty_btn-5">確定</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>


    @section Scripts{
    <script src="https://unpkg.com/vue@3.4.31/dist/vue.global.js"></script>
   
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js"></script>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.7.2/axios.min.js"
            integrity="sha512-JSCFHhKDilTRRXe9ak/FJ28dcpOJxzQaCd3Xg8MyF6XFjODhy/YMCM8HW0TFDckNHWUewW+kfvhin43hKtJxAw=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>


    <script>



        var vueApp = {
            data() {
                return {
                    baseAddress: "https://localhost:7112",//結尾不要/
                    business_ID: 0,
                    dogType: '狗',
                    catType: '貓',
                    pet_type:"",
                    businesses: [],
                    business_hour: [],
                    services: [],


                };
            },
            mounted: function () {//初始化,發生呼叫函式,他需要用callback,
                $(".Beauty_Step-2").hide();
                $(".Beauty_Step-3-1").hide();
                $(".Beauty_Step-3-2").hide();
                $(".Beauty_Step-4").hide();
                $(".Beauty_Step-5").hide();

                let _this = this;
                axios.get(`${_this.baseAddress}/api/SalonApi/GetSalonbusiness`).then(response => {

                    _this.businesses = response.data;

                }).catch(err => {
                    alert(err);
                });






                $('#Appointment').datetimepicker({
                    allowTimes: ['09:00', '10:00', '11:00', '13:00', '14:00', '15:00', '16:00', '17:00', '18:00']
                });








            },
            methods: {
                selectBusiness: function (businessID){
                    this.business_ID = businessID;
                    console.log(businessID)
                    $(".Beauty_Step-1").hide();
                    $(".Beauty_Step-2").fadeIn();
                    $('.nav-link').removeClass('active');
                    $('#stepbtn-2').addClass('active');
                },
                servicesForBusinessID1004(businessID) {
                    return this.service.filter(service => service.business_ID === businessID);
                },
                selectService: function (businessID,petType) {
                    let _this = this;
                    axios.get(`${_this.baseAddress}/api/SalonApi/GetService`).then(response => {

                        _this.services = response.data.filter(item => item.business_ID === businessID && item.category === petType);

                    }).catch(err => {
                        alert(err);
                    });
                    // servicesForBusinessID1004(businessID)
                },
                selectPetType: function (petType) {
                    this.pet_type = petType
                    this.selectService(this.business_ID, this.pet_type)
                    $(".Beauty_Step-2").hide();
                    $(".Beauty_Step-3-1").fadeIn();
                    // if (petType === '貓') {
                    //     $(".Beauty_Step-3-2").fadeIn();
                    // } else if (petType === '狗') {
                    //     $(".Beauty_Step-3-1").fadeIn();
                    // }
                    $('.nav-link').removeClass('active');
                    $('#stepbtn-3').addClass('active');
                    
                }


            },
            computed: {
                catServices(petType) {
                    return this.services.filter(item => item.type === petType);
                }

            }
        };
        var app = Vue.createApp(vueApp).mount("#app");


    </script>

  


    


    
    }