@section Styles{ 
<style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        .petimage-group {
            position: relative;
            height: auto;
            background-color: #ddd;
        }

        .imagerow {
            display: flex;
            flex-wrap: wrap;

            /* justify-content: center; */

        }

        .petimg {
            cursor: pointer;
            border: 10px solid #fff;
            box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
            overflow: hidden;
            object-fit: cover;
            transition: .3s;
        }

        .imghover:hover img {
            transform: scale(1.1);
        }

        .popup-image {
            position: fixed;
            top: 0;
            left: 0;
            background: rgba(0, 0, 0, .9);
            height: 100%;
            width: 100%;
            z-index: 100;
            display: none;
        }

        .popup-image span {
            position: absolute;
            top: 20px;
            right: 25px;
            font-size: 60px;
            color: #fff;
            cursor: pointer;
            z-index: 100;
        }

        .storeh2 {
            position: absolute;
            top: 30px;
            right: 65%;
            background-color: #fff;
            color: #fff;
            font-size: 30px;
        }

        .popup-image img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            border-radius: 5px;
            width: 750px;
            object-fit: cover;
        }

        

        
    </style>

    }


<div id="app">


    


    <div v-for="(images, typeId) in groupedImages" :key="typeId" class="container petimage-group p-5">
        <div class="row imagerow my-5">
            <h3 v-if="images.length > 0">Type ID: {{ img_type_id }}</h3>
            <div v-for="image in images" :key="image.id" class="col-12 col-md-4 col-lg-3 mb-3 imghover">
                <img class="w-100 petimg" :src="`/Salon_img/${URL}`" alt="" v-on:click="openPopup(image.url)">
            </div>
        </div>
    </div>

    <div class="popup-image" v-if="showPopup">
        <span v-on:click="closePopup">&times;</span>
        <img :src="selectedImage" alt="Popup Image">
    </div>


</div>

    @section Scripts{

    <script src="https://unpkg.com/vue@3.4.31/dist/vue.global.js"></script>

    

    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.7.2/axios.min.js"
            integrity="sha512-JSCFHhKDilTRRXe9ak/FJ28dcpOJxzQaCd3Xg8MyF6XFjODhy/YMCM8HW0TFDckNHWUewW+kfvhin43hKtJxAw=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>




    
    <script>


        var vueApp = {
            data() {
                return {
                    baseAddress: "https://localhost:7112",//結尾不要/
                    showPopup: false,
                    selectedImage: ''
                    SalonPicture: [],

                };
            },
            mounted: function () {//初始化,發生呼叫函式,他需要用callback,
                axios.get(`${_this.baseAddress}/api/SalonApi/GetSalonPicture`).then(response => {

                    _this.services = response.data;

                }).catch(err => {
                    alert(err);
                });


            },
            methods: {
                openPopup(src) {
                    this.selectedImage = src;
                    this.showPopup = true;
                },
                closePopup() {
                    this.showPopup = false;
            },
            computed: {
                    groupedImages() {
                        return this.SalonPicture.reduce((groups, image) => {
                            if (!groups[image.img_type_id]) {
                                groups[image.img_type_id] = [];
                            }
                            groups[image.img_type_id].push(image);
                            return groups;
                        }, {});
                    }

            },
        };
        var app = Vue.createApp(vueApp).mount("#app");



        document.querySelectorAll(".petimage-group img").forEach(image => {
            image.onclick = () => {
                document.querySelector(".popup-image").style.display = "block";
                document.querySelector(".popup-image img").src = image.getAttribute("src")
            }
        });

        document.querySelector(".popup-image span").onclick = () => {
            document.querySelector(".popup-image").style.display = "none";
        }

    </script>
    }
