<div class="container row text-center m-auto py-5">
    <div class="list-group list-group-flush col-6 mx-auto py-5">
        <a class="nav-link text-dark list-group-item p-3" asp-area="" asp-controller="Service" asp-action="Index">服務項目</a>
        <a class="nav-link text-dark list-group-item p-3" asp-area="" asp-controller="Beautician" asp-action="Index">美容師</a>
        <a class="nav-link text-dark list-group-item p-3" asp-area="" asp-controller="Business_hour" asp-action="Index">營業日</a>
        <a class="nav-link text-dark list-group-item p-3" asp-area="" asp-controller="Reserve" asp-action="Index">預約紀錄</a>
        <a class="nav-link text-dark list-group-item p-3" asp-area="" asp-controller="Consumption_Record" asp-action="Index">消費紀錄</a>
        <a class="nav-link text-dark list-group-item p-3" asp-area="" asp-controller="Sbusiness_img" asp-action="Index">作品圖片</a>
        <a class="nav-link text-dark list-group-item p-3" asp-area="" asp-controller="Sbusiness_img_type" asp-action="Index">圖片分類</a>
        <a id="log" class="btn btn-primary" asp-controller="Home" asp-action="Privacy">帳號登出</a>

    </div>
    <div class="col-9">
   
        </div>
    </div>
</div>


@section scripts
{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.7.2/axios.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#log").on("click", function () {
                alert("aa");
                axios.delete("/api/LNRApi/Logout")
                    .then(response => {
                        console.log(response.data);
                    })
                    .catch(err => {
                        console.log(err);
                    })
            });
        });

    </script>

}
