
<div class="card">
    <div class="top d-flex">
        <p>圖可拉到這裡上傳</p>
    </div>
    <div class="imgbox">
        <span class="inner">
            圖片放這裡
            <span class="select">瀏覽</span>
        </span>
    </div>
    <div class="containerbox w-100 d-flex">
        <div class="image" style="display:none">
            <img src="" alt="">
            <span>&times;</span>
        </div>
    </div>
</div>
