@model Tailstale.Hotel_DTO.RoomDTO

@{
    ViewData["Title"] = "房間管理";
}

@section Styles{
    <link href="~/css/dragdropstyle.css" rel="stylesheet" />
}

<h1>房間管理</h1>
<hr />
<div class="container">
    <form asp-action="AddOrEdit" method="post" enctype="multipart/form-data">
        <div class="row">
            <div class="col">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="roomID" />
                <div class="form-group" hidden>
                    <label asp-for="hotelID" class="control-label"></label>
                    <input type="hidden" asp-for="hotelID" />
                </div>
                <div class="form-group">
                    <label asp-for="roomSpecies" class="control-label"></label>

                    <select asp-for="roomSpecies" class="form-control">
                        <option>貓</option>
                        <option>狗</option>
                    </select>
                    <span asp-validation-for="roomSpecies" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for=roomType.roomType_ID class="control-label"></label>
                    <select asp-for="roomType.roomType_ID" class="form-control" asp-items="ViewBag.FK_roomType_ID"></select>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label asp-for="roomPrice" class="control-label"></label>
                            <input asp-for="roomPrice" class="form-control" />
                            <span asp-validation-for="roomPrice" class="text-danger"></span>
                        </div>



                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label asp-for="roomDiscount" class="control-label"></label>
                            <input asp-for="roomDiscount" class="form-control" />
                            <span asp-validation-for="roomDiscount" class="text-danger"></span>
                        </div>

                    </div>
                    <div class="col-md-4">

                        <div class="form-group">
                            <label asp-for="roomReserve" class="control-label">
                            </label>
                            <input asp-for="roomReserve" class="form-control" />
                            <span asp-validation-for="roomReserve" class="text-danger">
                            </span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="roomDescrep" class="control-label"></label>
                    <textarea asp-for="roomDescrep" class="form-control" rows="4" cols="50"></textarea>
                    <span asp-validation-for="roomDescrep" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="roomImg.name" class="control-label">照片</label>
                    <input asp-for="roomImg.name" type="text" class="form-control" />
                </div>
                <div class="form-group" style="display:non">
                    <label asp-for="roomImg.URL" class="control-label">照片</label>
                    <input asp-for="roomImg.URL" type="file" name="files" class="form-control" multiple />
                </div>
                <div class="row mt-2">
                    <div class="col-md-6">
                        <div class="form-group">
                            <input type="submit" value="送出" class="btn btn-primary w-100" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <input type="submit" value="查看所有房間" class="btn btn-primary w-100" asp-action="ShowRoomFromHotel" asp-route-id="@ViewBag.HotelID" />

                        </div>
                    </div>


                </div>
            </div>
            <div class="col">
                <partial name="_DragAndDropPicture"></partial>
            </div>

        </div>
    </form>

</div>
@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="~/js/dragdropjs.js"></script>
    <script>
        var myinputfile = document.querySelector('#roomImg_URL');
        DragDropImg(myinputfile);
    </script>
}
@* @section Scripts {
    
 
    <script>

        let files = [];
        var imgbox = document.querySelector('.imgbox');
        var container = document.querySelector('.containerbox');
        var text = document.querySelector('.inner');
        var browse = document.querySelector('.select');
        let input = document.querySelector('#roomImg_URL');
        browse.addEventListener('click', e => {
            e.preventDefault();
            input.click();
        });
        let newFiles;

        input.addEventListener('change', () => {
            newFiles = Array.from(input.files);
            newFiles = newFiles.filter(file => !files.includes(file));
            files = files.concat(newFiles);
           
            showImages();
          
        });
        const showImages = () => {
            let images = '';
            files.forEach((e, i) => {
                images += `<div class="image">
                                    <img src="${URL.createObjectURL(e)}" alt="">
                                    <span onclick="delImage(${i})">&times;</span>
                                </div>`;
            });
            container.innerHTML = images;
        };
        const delImage = index => {
            files.splice(index, 1);
            let removeFileList = new DataTransfer();
            files.forEach(file => removeFileList.items.add(file));
            input.files = removeFileList.files;
            showImages();
        }
        imgbox.addEventListener('dragover', e => {
            e.preventDefault();
            imgbox.classList.add('dragover');
            text.innerHTML = "放手圖片就上傳";
        });
        imgbox.addEventListener('dragleave', e => {
            e.preventDefault()

            imgbox.classList.remove('dragover');
            text.innerHTML = '圖片放這裡<span class="select">瀏覽</span>';
        });
        imgbox.addEventListener('drop', e => {
            e.preventDefault();
           imgbox.classList.remove('dragover');
            text.innerHTML = '圖片放這裡<span class="select">瀏覽</span>';

            

            let existingFiles = Array.from(input.files);
            let uploadFiles = Array.from(e.dataTransfer.files);

            // 合併新上傳的檔案至 files 陣列
            let allFiles = existingFiles.concat(uploadFiles);

            // 創建新的 DataTransfer 物件並設定 files
            let dataTransfer = new DataTransfer();
            allFiles.forEach(file => dataTransfer.items.add(file));

            // 將新的 DataTransfer 物件設定給 input 的 files 屬性
            input.files = dataTransfer.files;
            files = Array.from(input.files);
            // 顯示圖片列表
            showImages();
        });
       

    </script>
}
 *@