@model Tailstale.Models.Room

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Room</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="hotelID" class="control-label"></label>
                <select asp-for="hotelID" class ="form-control" asp-items="ViewBag.hotelID"></select>
            </div>
            <div class="form-group">
                <label asp-for="roomSpecies" class="control-label"></label>
                <input asp-for="roomSpecies" class="form-control" />
                <span asp-validation-for="roomSpecies" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="roomType" class="control-label"></label>
                <input asp-for="roomType" class="form-control" />
                <span asp-validation-for="roomType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="roomPrice" class="control-label"></label>
                <input asp-for="roomPrice" class="form-control" />
                <span asp-validation-for="roomPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="roomDiscount" class="control-label"></label>
                <input asp-for="roomDiscount" class="form-control" />
                <span asp-validation-for="roomDiscount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="roomReserve" class="control-label"></label>
                <input asp-for="roomReserve" class="form-control" />
                <span asp-validation-for="roomReserve" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="roomDescrep" class="control-label"></label>
                <input asp-for="roomDescrep" class="form-control" />
                <span asp-validation-for="roomDescrep" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
