@model IEnumerable<Tailstale.Models.daily_outpatient_clinic_schedule>

@{
    ViewData["Title"] = "Index";
}

@section Styles
{
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

    <style>
        .calendar-cell {
            height: 150px;
            width: 14.28%;
            /* 確保每個單元格寬度相等，7天每天佔14.28% */
            position: relative;
            padding: 5px;
            /* 減少內邊距以增加可用空間 */
        }

        .date {
            position: absolute;
            top: 5px;
            left: 5px;
            font-weight: bold;
            font-size: 1.2rem;
            /* 設置日期數字的字體大小 */
        }

        .shift-content {
            height: 160px;
            overflow-y: auto;
            /* 允許垂直滾動，以顯示多個班次 */
            padding-top: 30px;
            /* 為日期數字留出空間 */
            font-size: 0.9rem;
            /* 稍微減小字體大小以適應更多內容 */
        }

        .shift-item {
            /* display: flex; */
            background-color: #D8D8EB;
            justify-content: space-between;            
            align-items: flex-start;
            margin-bottom: 7px;
            padding: 5px 5px;
            border-radius: 3px;            
        }
        
        .shift-text {
            background-color: #E6E6F2;
            padding: 3px;
            width:100%;
        }

        .other-month {
            background-color: lightgray;
            /* 淺灰色背景表示非當前月份的日期 */
        }

        #calendar {
            width: 100%;
            table-layout: fixed;
            /* 確保表格列寬度均勻分布 */
        }

        #calendar th {
            text-align: center;
            padding: 10px 5px;
            /* 調整表格標題的內邊距 */
        }
    </style>
}

<h4>門診表管理</h4>
<hr>


<div class="container">
    <div class="row">
        <div class="list-group col-2 text-start">
            <a asp-action="Index" asp-controller="Appointments" class="list-group-item list-group-item-action sidebar-item">預約記錄管理</a>
            <a asp-action="Index" asp-controller="Appointments" class="list-group-item list-group-item-action sidebar-item">過去預約記錄檢視</a>
            <a asp-action="Index" asp-controller="daily_outpatient_clinic_schedule" class="list-group-item list-group-item-action sidebar-item active">門診表管理</a>            
            <a asp-action="Index" asp-controller="outpatient_clinic" class="list-group-item list-group-item-action sidebar-item ">門診資訊管理</a>            
            <a asp-action="Index" asp-controller="departments" class="list-group-item list-group-item-action sidebar-item">科別管理</a>
            <a asp-action="Index" asp-controller="vet_information" class="list-group-item list-group-item-action sidebar-item">醫師資訊管理</a>
            <a asp-action="Index" asp-controller="ward" class="list-group-item list-group-item-action sidebar-item">院內病房管理</a>
            <a href="#" class="list-group-item list-group-item-action sidebar-item">Option 6</a>
            <a href="#" class="list-group-item list-group-item-action sidebar-item">Option 7</a>
            <a href="#" class="list-group-item list-group-item-action sidebar-item">Option 8</a>
            <a href="#" class="list-group-item list-group-item-action sidebar-item">Option 9</a>
            <a href="#" class="list-group-item list-group-item-action sidebar-item">Option 10</a>
        </div>

        <div class="col-10">
            <div class="container-fluid">   
                <div class="row mb-3">
                    <div class="col-auto">
                        <select id="yearSelect" class="form-select" style="font-weight: bold;"></select>
                    </div>
                    <div class="col-auto">
                        <select id="monthSelect" class="form-select" style="font-weight: bold;">
                            <option value="0">1月</option>
                            <option value="1">2月</option>
                            <option value="2">3月</option>
                            <option value="3">4月</option>
                            <option value="4">5月</option>
                            <option value="5">6月</option>
                            <option value="6">7月</option>
                            <option value="7">8月</option>
                            <option value="8">9月</option>
                            <option value="9">10月</option>
                            <option value="10">11月</option>
                            <option value="11">12月</option>
                        </select>
                    </div>
                    <div class="col-auto">
                        <button id="openAllShifts" class="btn btn-outline-primary" style="display: none;">開放所有門診</button>
                    </div>
                </div>
                <table id="calendar" class="table table-bordered">
                    <thead>
                        <tr>
                            <th>星期日</th>
                            <th>星期一</th>
                            <th>星期二</th>
                            <th>星期三</th>
                            <th>星期四</th>
                            <th>星期五</th>
                            <th>星期六</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="shiftModal" tabindex="-1" aria-labelledby="shiftModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="shiftModalLabel">選擇門診</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <select id="shiftSelect" class="form-select mb-3"></select>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" id="addShift">添加</button>
            </div>
        </div>
    </div>
</div>


@section Scripts
{
    <script>

        let currentCell; // 存儲當前選中的日期單元格
        let shiftModal; // 存儲班次選擇模態框

        $(document).ready(function () {

            shiftModal = new bootstrap.Modal(document.getElementById('shiftModal'));            

            // 初始化年份月份下拉選單
            const yearSelect = document.getElementById('yearSelect');
            const monthSelect = document.getElementById('monthSelect');

            const currentYear = new Date().getFullYear();
            for (let year = currentYear; year <= currentYear + 10; year++) {
                const option = document.createElement('option');
                option.value = year;
                option.textContent = year + '年';
                if (year === currentYear) {
                    option.selected = true;
                }
                yearSelect.appendChild(option);
            }
            

            // 設置初始月份為當前月份
            const currentDate = new Date();
            monthSelect.value = currentDate.getMonth().toString();

            // 為年份和月份選擇添加事件監聽器
            yearSelect.addEventListener('change', updateCalendar);
            monthSelect.addEventListener('change', updateCalendar);
            generateCalendar();
            showScheduleofSelectedMonth();
            addOPtionstoShiftSelect();
            toggleOpenAllShiftsButton();

        })

        // 生成日曆函數
        function generateCalendar() {
            const year = $('#yearSelect').val();
            const month = Number($('#monthSelect').val());

            const calendar = document.getElementById('calendar').getElementsByTagName('tbody')[0];
            calendar.innerHTML = ''; // 清空現有日曆內容

            // 獲取當月的第一天和最後一天
            const firstDay = new Date(year, month, 1);
            const lastDay = new Date(year, month + 1, 0);
            const daysInMonth = lastDay.getDate();
            const startingDay = firstDay.getDay();

            let date = 1;
            // 生成日曆網格
            for (let i = 0; i < 6; i++) { // 最多6行
                let row = calendar.insertRow();
                for (let j = 0; j < 7; j++) { // 7列（週日到週六）
                    let cell = row.insertCell();
                    cell.className = 'calendar-cell';
                    if (i === 0 && j < startingDay) {
                        cell.classList.add('other-month'); // 上個月的日期
                    } else if (date > daysInMonth) {
                        cell.classList.add('other-month'); // 下個月的日期
                    } else {
                        const monthFormatted = String(month + 1).padStart(2, '0'); // 確保月份是兩位數
                        const dateFormatted = String(date).padStart(2, '0'); // 確保日期是兩位數
                        const cellDate = `${year}-${monthFormatted}-${dateFormatted}`;

                        cell.innerHTML = `<div class="date">${date}</div><div class="shift-content" id="${cellDate}" data-dayofweek="${j}"></div>`;
                        cell.classList.add('shift');
                        date++;
                    }
                }
                if (date > daysInMonth) {
                    break; // 如果日期超過了當月天數，退出循環
                }
            }            
        }

        // 更新日曆
        function updateCalendar() {
            const selectedYear = parseInt(yearSelect.value);
            const selectedMonth = parseInt(monthSelect.value);
            generateCalendar(selectedYear, selectedMonth);

            showScheduleofSelectedMonth();
            toggleOpenAllShiftsButton();
        }

        // 切換 "開放所有門診" 按鈕的顯示
        function toggleOpenAllShiftsButton() {
            const selectedYear = parseInt($('#yearSelect').val());
            const selectedMonth = parseInt($('#monthSelect').val()) + 1;

            if (selectedYear > currentYear || (selectedYear === currentYear && selectedMonth > currentMonth)) {
                $('#openAllShifts').show();
            } else {
                $('#openAllShifts').hide();
            }
        }

        //從資料庫抓取所選月份的資料，並將資料寫入日期單元格
        function showScheduleofSelectedMonth() {
            const SelectedYear = $('#yearSelect').val();
            const SelectedMonth = $('#monthSelect').val();

            const dateParam = `${SelectedYear}-${Number(SelectedMonth) + 1}`;
            //console.log(`showScheduleofSelectedMonth: ${dateParam}`)
            $.ajax({
                type: 'GET',
                url: `daily_outpatient_clinic_schedule/GetSchedule?id=${encodeURIComponent(dateParam)}`,
            }).done(data => {
                //console.log(`showScheduleofSelectedMonth:${data}`)
                generateMonthlySchedule(data);
            }).fail(err => {
                alert('呼叫失敗')
            });
        }

        //生成當月單元格內容
        function generateMonthlySchedule(opcsofselectedMonth){
            $('.shift-content').empty();
            opcsofselectedMonth.forEach(result => {
                var shiftContent = document.getElementById(result.date);
                const shiftItem = document.createElement('div');
                shiftItem.className = `shift-item`;


                // 取得目前的年月
                const currentYear = new Date().getFullYear();
                const currentMonth = new Date().getMonth();
                // 取得班表日期的年月
                const [year, month] = result.date.split('-').map(Number);

                let controls = '';
                if (year < currentYear || (year === currentYear && month < currentMonth + 1)) {
                    // 當班表日期小於當前年月時，不顯示任何操作選項
                    controls = '';
                } else if (year === currentYear && month === currentMonth + 1) {
                    // 當班表日期等於當前年月時，只顯示休診的 checkbox
                    controls = `
                        <label class="form-switch-label chkEdit" for="switch-${result.daily_outpatient_clinic_schedule_ID}">
                            <input class="form-check-input chkEdit" type="checkbox" data-edit="${result.daily_outpatient_clinic_schedule_ID}" ${result.daily_outpatient_clinic_schedule_status ? 'checked' : ''}>休診
                        </label>
                    `;
                } else {
                    // 當班表日期大於當前年月時，顯示休診及刪除選項
                    controls = `
                        <label class="form-switch-label chkEdit" for="switch-${result.daily_outpatient_clinic_schedule_ID}">
                            <input class="form-check-input chkEdit" type="checkbox" data-edit="${result.daily_outpatient_clinic_schedule_ID}" ${result.daily_outpatient_clinic_schedule_status ? 'checked' : ''}>休診
                        </label>
                        <a class="btn-outline-danger btn-sm btnDelete" aria-label="刪除" data-delete="${result.daily_outpatient_clinic_schedule_ID}"><i class="bi bi-trash3"></i></a>
                    `;
                }

                //將資料庫查詢到的結果填入對應日期的單元格中
                shiftItem.innerHTML = `
                    <div class="shift-text"><span>[${result.outpatient_clinic_name}]<br>${result.vet_name}<br>${result.outpatient_clinic_timeslot_name}</span></div>
                    <div class="text-end mt-1">
                        ${controls}
                    </div>
                `;
                shiftContent.appendChild(shiftItem);
            });


            $('.shift-content').on('click', '.btnDelete', function (e) {
                // 如果點擊的是刪除按鈕
                e.stopPropagation(); // 防止事件冒泡，避免其他處理器處理此事件
                
                Swal.fire({
                    title: "確定要刪除該筆門診嗎？",                    
                    showCancelButton: true,
                    confirmButtonText: "確認刪除",
                    cancelButtonText:"取消刪除"
                }).then((result) => {
                    if (result.isConfirmed) {
                        deleteOpcfromschedule(this);
                    } else { 
                        return;
                    }
                    
                });
                
            });

            $('.shift-content').on('click', '.chkEdit', function (e) {
                // 如果點擊的是 checkbox
                //alert('Clicked edit checkbox');
                //e.preventDefault();
                e.stopPropagation(); // 防止事件冒泡，避免其他處理器處理此事件
            });
            $('.shift-content').on('change', '.chkEdit', function (e) {
                // 如果點擊的是 checkbox
                //alert('Clicked edit checkbox');
                e.preventDefault();
                e.stopPropagation(); // 防止事件冒泡，避免其他處理器處理此事件
                Swal.fire({
                    title: "確定要變更門診狀態嗎？",
                    showCancelButton: true,
                    cancelButtonText: "取消變更",
                    confirmButtonText: "確認變更"
                }).then((result) => {
                    if (result.isConfirmed) {
                        docsStatusChange(this);
                    } else {
                        if (($(this).prop('checked')) == true) {
                            $(this).prop('checked', false);
                        } else {
                            $(this).prop('checked', true);
                        }
                    }

                });
            });            

            // 為每個日期單元格添加點擊事件
            $('.shift-content').on('click', function (e) {
                const currentYear = new Date().getFullYear();
                const currentMonth = new Date().getMonth() + 1; // 月份從0開始，需要+1
                // 取得當前單元格的日期
                const [year, month] = this.id.split('-').map(Number);

                // 檢查是否應該顯示模態框
                if (year > currentYear || (year === currentYear && month > currentMonth)) {
                    currentCell = $(this);
                    shiftModal.show(); // 顯示班次選擇彈出視窗
                    showOptionsfromOpc(currentCell.data('dayofweek'));
                }
            });
        }

        function addOPtionstoShiftSelect() {
            // 為加入門診按鈕添加事件監聽器
            $('#addShift').on('click', function () {
                const shift = $('#shiftSelect option:selected').text();
                console.log(shift)
                if (shift && currentCell) {
                    const date = currentCell.attr('id');
                    const shiftContent = $('#shiftSelect').val();
                    //console.log(`currentCellid:${date}`)
                    //console.log(`shiftContent:${shiftContent}`)

                    var opcId_date = {
                        outpatient_clinic_ID: Number(shiftContent),
                        date: date,
                    };
                    //console.log(`newopc:${opcId_date}`)

                    $.ajax({
                        type: 'POST',
                        url: 'daily_outpatient_clinic_schedule/Create',
                        data: JSON.stringify(opcId_date),
                        contentType: 'application/json'
                    }).done(data => {
                        //console.log(data)
                        showScheduleofSelectedMonth();
                    }).fail(err => {
                        alert('呼叫失敗')
                    });

                    shiftModal.hide(); // 隱藏模態框
                }
            });
        }


        //產生被點選日當日的門診選單
        function showOptionsfromOpc(dayofweek) {
            //alert('showOptionsfromOpc');            
            //console.log(dayofweek)
            $.ajax(
                {
                    type: 'GET',
                    url: `daily_outpatient_clinic_schedule/CreateOptions?id=${dayofweek}`,
                }).done(data => {
                    //console.log(data)
                    $('#shiftSelect').empty();
                    data.forEach(opcOption => {
                        $('#shiftSelect').append(`<option value="${opcOption.outpatient_clinic_ID}">${opcOption.outpatient_clinic_Info}</option>`)
                    })
                }).fail(err => {
                    alert(err)
                });
        }

        //刪除被點選的當日門診
        function deleteOpcfromschedule(element) {

            var deleteId = element.dataset.delete;
            //alert(deleteId)
            $.ajax({
                type: 'Delete',
                url: 'daily_outpatient_clinic_schedule/DeleteConfirmed',
                contentType: 'application/x-www-form-urlencoded',
                data: {
                    id: deleteId
                }
            }).done(result => {
                //console.log(`deleteOpcfromschedule:${data}`)
                if (result) {
                    Swal.fire("刪除門診", "", "success");
                }
                else {
                    Swal.fire("刪除失敗", "", "error");
                }
                showScheduleofSelectedMonth();
            }).fail(err => {
                alert('刪除失敗')
            });
            
        }

        //將被點選的門診狀態改為休診
        function docsStatusChange(element) {
            //$(document).on('change', '.chkEdit', function (e) {

            var editId = element.dataset.edit;
            //alert(editId)
            $.ajax({
                type: 'Put',
                url: 'daily_outpatient_clinic_schedule/Edit',
                contentType: 'application/x-www-form-urlencoded',
                data: {
                    id: editId
                }
            }).done(result => {
                //console.log(`docsStatusChange:${data}`)
                if (result) {
                    Swal.fire("門診狀態已變更", "", "success");
                }
                else {
                    Swal.fire("門診狀態變更失敗", "", "error");
                }
                showScheduleofSelectedMonth();
            }).fail(err => {
                alert('修改失敗')
            });

            // "開放所有門診" 按鈕點擊事件
            $('#openAllShifts').on('click', function () {
                // 獲取所有 "休診checkbox"
                $('.chkEdit').each(function () {
                    if ($(this).prop('checked')) {
                        $(this).prop('checked', false).change();
                    }
                });
            });
        }
    </script>
}

