@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="container-fluid">
        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Tailstale</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>


        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
            <ul class="navbar-nav flex-grow-1">

                

                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Dropdown
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" asp-controller="LNR" asp-action="Index">普通會員登入</a></li>
                        <li><a class="dropdown-item" asp-controller="LNR" asp-action="BLogin">商業會員登入</a></li>
                        <li><a class="dropdown-item" asp-controller="Home" asp-action="Privacy" id="logout">登出</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" asp-controller="LNR" asp-action="HotelIndex">HotelIndex</a></li>
                        <li><a class="dropdown-item" asp-controller="LNR" asp-action="SalonIndex">SalonIndex </a></li>
                        <li><a class="dropdown-item" asp-controller="LNR" asp-action="HospitalIndex">HospitalIndex</a></li>
                        
                    </ul>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Salon" asp-action="SalonHome">SalonHome</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Salon" asp-action="SalonLog">SalonLog</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Salon" asp-action="businessEdit">businessEdit</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="Index">UserIndex</a>
                </li>
            </ul>

            <partial name="_LoginPartial" />
        </div>
    </div>
</nav>