
<a class="btn btn-primary btn-sm" asp-area="" asp-controller="LNR" asp-action="Index">登入</a>
<a class="text-decoration-none link-secondary" asp-area="" asp-controller="LNR" asp-action="KRegister">註冊</a>
