@model Tailstale.Models.ServiceViewModel

@{
    ViewData["Title"] = "Create";
}
@section Styles {
    <link href="~/css/salonfrom.css" rel="stylesheet" />
}
<h1>新增服務項目</h1>

@* <h4>Service</h4> *@
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="business_ID" class="control-label">門市</label>
                <select asp-for="business_ID" class ="form-control" asp-items="ViewBag.business_ID"></select>
            </div>
            <div class="form-group">
                <label asp-for="category" class="control-label">寵物類型</label>
                <input asp-for="category" class="form-control" />
                <span asp-validation-for="category" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="service_name" class="control-label">服務項目</label>
                <input asp-for="service_name" class="form-control" />
                <span asp-validation-for="service_name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="service_content" class="control-label">服務內容</label>
                @* <input asp-for="service_content" class="form-control" /> *@
                <textarea id="service_content" name="service_content" class="form-control" required></textarea>
                <span asp-validation-for="service_content" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="service_img" class="control-label">服務圖片</label>
                @* <partial name="_SalonImgPartial" /> *@ @* 顯示幕前內容 *@
                <input asp-for="service_img" type="file" accept="image/*" class="form-control" onchange="previewImage(this)" />
                <span asp-validation-for="service_img" class="text-danger"></span>
                <img id="imgPreview" src="~/Salon_img/111.jpg" width="200" height="200" />
            </div>
            <div class="form-group">
                <label asp-for="price" class="control-label">價格</label>
                <input asp-for="price" class="form-control" />
                <span asp-validation-for="price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-secondary mt-3" asp-action="Index">返回</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

  

   
    <script>
        


        function previewImage(input) {
            var imgPreview = document.getElementById('imgPreview');
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    imgPreview.src = e.target.result;
                }
                reader.readAsDataURL(input.files[0]);
            }
            else {
                imgPreview.src = '@Url.Content("~/Salon_img/111.jpg")'; // 如果没有选择文件，则显示默认图片
            }
        }

        // 使用者選擇不同的檔案時觸發預覽
        document.getElementById('service_img').onchange = function () {
            previewImage(this);
        };
   
    </script>

}
