@model Tailstale.Models.Consumption_Record

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Consumption_Record</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="keeper_id" class="control-label"></label>
                <select asp-for="keeper_id" class ="form-control" asp-items="ViewBag.keeper_id"></select>
            </div>
            <div class="form-group">
                <label asp-for="pet_name" class="control-label"></label>
                <input asp-for="pet_name" class="form-control" />
                
                <span asp-validation-for="pet_name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="business_ID" class="control-label"></label>
                <select asp-for="business_ID" class ="form-control" asp-items="ViewBag.business_ID"></select>
            </div>
            <div class="form-group">
                <label asp-for="time" class="control-label"></label>
                <input asp-for="time" class="form-control" />
                <span asp-validation-for="time" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="beautician_id" class="control-label"></label>
                <select asp-for="beautician_id" class ="form-control" asp-items="ViewBag.beautician_id"></select>
            </div>
            <div class="form-group">
                <label asp-for="service_name" class="control-label"></label>
                <input asp-for="service_name" class="form-control" />
                <span asp-validation-for="service_name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="pet_weight" class="control-label"></label>
                <input asp-for="pet_weight" class="form-control" />
                <span asp-validation-for="pet_weight" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="price" class="control-label"></label>
                <input asp-for="price" class="form-control" />
                <span asp-validation-for="price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="before_photo" class="control-label"></label>
                <input asp-for="before_photo" type="file" accept="image/*" class="form-control-file" />
                <span asp-validation-for="before_photo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="after_photo" class="control-label"></label>
                <input asp-for="after_photo" type="file" accept="image/*" class="form-control-file" />
                <span asp-validation-for="after_photo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
