@model Tailstale.Models.Consumption_RecordViewModel

@{
    ViewData["Title"] = "Create";
}
@section Styles {
    <link href="~/css/salonfrom.css" rel="stylesheet" />
}
<h1>Create</h1>

<h4>Consumption_Record</h4>
<hr />
<div class="row" id="app">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="keeper_id" class="control-label"></label>
                @* <select asp-for="keeper_id" class ="form-control" asp-items="ViewBag.keeper_id"></select> *@
                <input class="form-control" v-on:input="callID" v-model="keeper_Name"></input>
                <input asp-for="keeper_id" class="form-control" v-model="keeper_ID" readonly></input>
                <span asp-validation-for="keeper_id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="pet_name" class="control-label"></label>
                @* <input asp-for="pet_name" class="form-control" /> *@
                <select asp-for="pet_name" class="form-control">
                    <option v-for="item in petName" :value="item">{{item}}</option>
                </select>
                <span asp-validation-for="pet_name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="business_ID" class="control-label"></label>
                <select asp-for="business_ID" class ="form-control" asp-items="ViewBag.business_ID"></select>
            </div>
            <div class="form-group">
                <label asp-for="time" class="control-label"></label>
                <input asp-for="time" class="form-control meeting-time" type="datetime-local" />
                <span asp-validation-for="time" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="beautician_id" class="control-label"></label>
                <select asp-for="beautician_id" class ="form-control" asp-items="ViewBag.beautician_id"></select>
            </div>
            <div class="form-group">
                <label asp-for="service_name" class="control-label"></label>
                <input asp-for="service_name" class="form-control" />
                <span asp-validation-for="service_name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="pet_weight" class="control-label"></label>
                <input asp-for="pet_weight" class="form-control" />
                <span asp-validation-for="pet_weight" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="price" class="control-label"></label>
                <input asp-for="price" class="form-control" />
                <span asp-validation-for="price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="before_photo" class="control-label"></label>
                <input asp-for="before_photo" type="file" accept="image/*" class="form-control" onchange="previewImage(this, 'imgPreviewPhoto')" />
                <span asp-validation-for="before_photo" class="text-danger"></span>
                <img id="imgPreviewPhoto" src="~/Salon_img/111.jpg" width="300" height="200" />
            </div>
            <div class="form-group">
                <label asp-for="after_photo" class="control-label"></label>
                <input asp-for="after_photo" type="file" accept="image/*" class="form-control" onchange="previewImage(this, 'imgPreviewPicture')" />
                <span asp-validation-for="after_photo" class="text-danger"></span>
                <img id="imgPreviewPicture" src="~/Salon_img/111.jpg" width="300" height="200" />
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>

        var vueApp = {
            data() {
                return {
                    baseAddress: "https://localhost:7112",//結尾不要/
                    keeper_Name: "",
                    keeper_ID: null,
                    petName: [],
                    
                };
            },
            mounted: function () {
                this.setSelectedPetName();
                //讓預約的已有的記錄的 asp-route-keeper_id="item.keeper_id"這段值可以傳到消費紀錄的keepid裡面
                const queryParams = new URLSearchParams(window.location.search);

                // 取得 keeper_id 查詢參數
                const keeperId = queryParams.get('keeper_id');

                // 將取得的值設置到 data 屬性中
                this.keeper_ID = keeperId ? parseInt(keeperId) : null;

                const pet_name = queryParams.get('pet_name'); // 獲取 URL 參數
                if (pet_name != "") {
                    this.petName.push(pet_name); // 設置選中的 pet_name
                }

            },
            methods: {
                callID: function () {
                    let _this = this;
                    
                    if (!_this.keeper_Name.trim()) {

                        // 如果為空，不發送請求
                        _this.keeper_ID = null; // 或者其他適當的預設值
                        return;
                    }
                    axios.get(`${_this.baseAddress}/api/SalonApi/SelectKeeperId`, {
                        params: {
                            name: _this.keeper_Name // 將 keepname 作為查詢參數傳遞
                        }
                    }).then(response => {
                        // _this.petName = [];
                        _this.keeper_ID = response.data;
                        _this.callPet(_this.keeper_ID);

                    }).catch(err => {
                        alert(err);
                    });
                },
                callPet: function (id) {
                    let _this = this;
                    if (id == null || id === '') {
                        // 如果 id 無效，不發送請求,不然會莫名input每次輸入值就跑一次400
                        /* _this.petName = [] */; // 清空 petName
                        return;
                    }

                    axios.get(`${_this.baseAddress}/api/SalonApi/SelectPetName`, {
                        params: {
                            keeperid: id // 將 keepname 作為查詢參數傳遞
                        }
                    }).then(response => {

                        _this.petName = response.data;

                    }).catch(err => {
                        alert(err);
                    });
                },
                setSelectedPetName() {
                   
                }
            },
            computed: {


            },
        };
        var app = Vue.createApp(vueApp).mount("#app");

        document.querySelector('.meeting-time').addEventListener('input', function () {
            var inputDate = new Date(this.value);
            inputDate.setMinutes(0);  // 将分钟部分设为 0
            this.value = inputDate.toISOString().slice(0, 16);  // 格式化为 yyyy-MM-ddTHH:mm
        });

        function previewImage(input, imgId) {
            var imgPreview = document.getElementById(imgId);
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    imgPreview.src = e.target.result;
                }
                reader.readAsDataURL(input.files[0]);
            }
            else {
                imgPreview.src = "~/Salon_img/111.jpg"; // 如果没有选择文件，则显示默认图片
            }
        }
    </script>
}
