@model Tailstale.Models.medical_order

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>medical_order</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.datetime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.datetime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.medical_records)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.medical_records.complain)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
