@model Tailstale.Models.Sbusiness_imgViewModel

@{
    ViewData["Title"] = "Create";
}
@section Styles {
    <link href="~/css/salonfrom.css" rel="stylesheet" />
}
<h1>新增作品圖片</h1>

@* <h4>business_img</h4> *@
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="img_type_id" class="control-label">類型名稱</label>
               @*  <select asp-for="img_type_id" class ="form-control" asp-items="ViewBag.img_type_id"></select> *@
                <select asp-for="img_type_id" class="form-control" asp-items="ViewBag.ImageTypeList"></select>
            </div>
            <div class="form-group">
                <label asp-for="URL" class="control-label">圖片</label>
                <input asp-for="URL" class="form-control" type="file" accept="image/*" onchange="previewImage(this)" />
                <span asp-validation-for="URL" class="text-danger"></span>
                <img id="imgPreview" src="~/Salon_img/111.jpg" width="200" height="250" />
            </div>
            <div class="form-group">
                <label asp-for="name" class="control-label">圖片名稱</label>
                <input asp-for="name" class="form-control" placeholder="需加上關鍵字,如貓或狗" required />
                <span asp-validation-for="name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-secondary mt-3" asp-action="Index">返回</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

   <script>
        function previewImage(input) {
            var imgPreview = document.getElementById('imgPreview');
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    imgPreview.src = e.target.result;
                }
                reader.readAsDataURL(input.files[0]);
            }
            else {
                imgPreview.src = '@Url.Content("~/Salon_img/111.jpg")'; // 如果没有选择文件，则显示默认图片
            }
        }

        // 使用者選擇不同的檔案時觸發預覽
        document.getElementById('URL').onchange = function () {
            previewImage(this);
        };
   </script>
}
