@model Tailstale.Models.business_img

@{
    ViewData["Title"] = "Edit";
}
@section Styles {
    <link href="~/css/salonfrom.css" rel="stylesheet" />
}
<div class="container">
<h1>修改作品圖片</h1>

@* <h4>business_img</h4> *@
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <label asp-for="img_type_id" class="control-label">類型名稱</label>
                <select asp-for="img_type_id" class="form-control" asp-items="ViewBag.ImageTypeList"></select>
               @*  <select asp-for="img_type_id" class="form-control" asp-items="ViewBag.img_type_id"></select> *@
                <span asp-validation-for="img_type_id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="URL" class="control-label">圖片</label>
                <input asp-for="URL" class="form-control" type="file" accept="image/*" class="form-control-file" onchange="previewImage(this, 'imgPreviewPhoto')" />
                <span asp-validation-for="URL" class="text-danger"></span>
                <img id="imgPreviewPhoto" src="~/Salon_img/@Model.URL" width="200" height="250" />
            </div>
            <div class="form-group">
                <label asp-for="name" class="control-label">圖片名稱</label>
                <input asp-for="name" class="form-control" required />
                <span asp-validation-for="name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="created_at" class="control-label">建立日期</label>
                <input asp-for="created_at" class="form-control" readonly />
                <span asp-validation-for="created_at" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-secondary mt-3" asp-action="Index">返回</a>
</div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        window.onload = function () {
            var photoInput = document.getElementById('URL');

            photoInput.onchange = function () {
                previewImage(this, 'imgPreviewPhoto', '@Url.Content("~/Salon_img/")', '@Model.URL');
            };

            function previewImage(input, imgId, baseUrl, defaultImage) {
                var imgPreview = document.getElementById(imgId);
                if (input.files && input.files[0]) {
                    var reader = new FileReader();
                    reader.onload = function (e) {
                        imgPreview.src = e.target.result;
                    }
                    reader.readAsDataURL(input.files[0]);
                }
                else {
                    // 如果没有选择文件，则显示默认图片
                    imgPreview.src = baseUrl + defaultImage;
                }
            }
        };
    </script>
}
