@{
    ViewData["Title"] = "Home Page";
}
<header>
    <partial name="_NavBar" />
</header>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <a class="btn btn-primary" asp-area="" asp-controller="businesses" asp-action="Index">業主</a>
    <a class="btn btn-primary" asp-area="" asp-controller="keepers" asp-action="Index">使用者
    </a>
    <a class="btn btn-primary" asp-area="" asp-controller="Rooms" asp-action="Index">房間</a>
    <a class="btn btn-primary" asp-area="" asp-controller="BookingDetails" asp-action="Index">房間</a>
</div>
