@model IEnumerable<Tailstale.Models.keeper>

@{
    ViewData["Title"] = "Home Page";
}
<header>
    <partial name="_NavBar" />
</header>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
   
</div>

@section Scripts{
    <script>
        $("#test").on("click",function(){
            var booking = {
                bookingID:0,
                keeper_ID:1001,
                hotelID:2003,
                checkinDate:"2024/7/7",
                checkoutDate:"2024/7/12",
                bookingAmountTotal:1111,
            };
            
            alert(booking)
        })

    </script>
}