@using Tailstale

<form asp-action="SearchRoom" asp-controller="Bookings" method="post">
    <label for="checkin">Check-in:</label>
    <input type="date" id="checkin" name="checkin" />

    <label for="checkout">Check-out:</label>
    <input type="date" id="checkout" name="checkout" />
   
</form>
<button id="bt">提交</button>

@await Html.PartialAsync("/Bookings/SearchRoom.cshtml")
<div id="result">

</div>

@section Scripts{

    <script>
        $("#bt").on("click", async function () {
                var cI = document.getElementById("checkin").value;
                var cO = document.getElementById("checkout").value;
            const dtCI = new Date(cI);
            const dtCO = new Date(cO);
             console.log(dtCI);
             console.log(dtCO);

            if (dtCI <= dtCO && dtCI != null && dtCO != null) {
                roomPartial();
            }

            async function roomPartial() {
                try {
                    const response = await fetch('https://localhost:7112/Bookings/SearchRoom', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({
                            startDate: dtCI,
                            endDate: dtCO
                        })
                    });

                    if (response.ok) {
                        window.location.href = '/Bookings/SearchRoom';
                    } else {
                        const error = await response.text();
                        alert(error);
                    }
                } catch (error) {
                    alert(error);
                }
            }

            // async function roomPartial(){
            //     await fetch('https://localhost:7112/Bookings/SearchRoom', {
            //         method: 'POST',
            //         headers: {
            //             'Content-Type': 'application/json'
            //         },
            //         body: JSON.stringify({
            //             startDate: dtCI,
            //             endDate: dtCO
            //         })
            //     })
            //         .then(data => {
            //             // 處理伺服器的回應
            //             window.location.href = '/Bookings/SearchRoom';
            //         })
            //         .catch(error => {
            //             alert(error)
            //         });
            // }
            

           
        });
    </script>
}