@using Tailstale

<form asp-action="SearchRoom" asp-controller="Bookings" method="post">
    <label for="checkin">Check-in:</label>
    <input type="date" id="checkin" name="checkin" />

    <label for="checkout">Check-out:</label>
    <input type="date" id="checkout" name="checkout" />
   
</form>
<button id="bt">提交</button>

@* @await Html.PartialAsync("/Bookings/SearchRoom.cshtml") *@
<div id="result">

</div>

@section Scripts{

    <script>
        $("#bt").on("click", async function () {
            var cI = document.getElementById("checkin").value;
            var cO = document.getElementById("checkout").value;
            const dtCI = new Date(cI);
            let checkIndate = dtCI.getFullYear() + "-" +
                String(dtCI.getMonth() + 1).padStart(2, '0') + "-" +
                String(dtCI.getDate()).padStart(2, '0');

            const dtCO = new Date(cO);

            let checkOutdate = dtCO.getFullYear() + "-" +
                String(dtCO.getMonth() + 1).padStart(2, '0') + "-" +
                String(dtCO.getDate()).padStart(2, '0');

            console.log(checkOutdate);
            // console.log(dtCI);
            // console.log(dtCO);

            if (checkIndate <= checkOutdate && checkIndate != null && checkOutdate != null) {
                window.location.href = `/Bookings/SearchRoom?startDate=${checkIndate}&endDate=${checkOutdate}`;
                // roomPartial();
            }
         

           
        });
    </script>
}